@font-face {
  font-family: "Paytone One";
  src: url("fonts/PaytoneOne-Regular.eot");
  src: url("fonts/PaytoneOne-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/PaytoneOne-Regular.woff2") format("woff2"), url("fonts/PaytoneOne-Regular.woff") format("woff"), url("fonts/PaytoneOne-Regular.ttf") format("truetype"), url("fonts/PaytoneOne-Regular.svg#Paytone One") format("svg");
}
@font-face {
  font-family: "Neucha";
  src: url("fonts/Neucha-Regular.eot");
  src: url("fonts/Neucha-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Neucha-Regular.woff2") format("woff2"), url("fonts/Neucha-Regular.woff") format("woff"), url("fonts/Neucha-Regular.ttf") format("truetype"), url("fonts/Neucha-Regular.svg#Neucha") format("svg");
}
@font-face {
  font-family: "iCiel Crocante";
  src: url("fonts/iciel-crocante.eot");
  src: url("fonts/iciel-crocante.eot?#iefix") format("embedded-opentype"), url("fonts/iciel-crocante.woff2") format("woff2"), url("fonts/iciel-crocante.woff") format("woff"), url("fonts/iciel-crocante.ttf") format("truetype"), url("fonts/iciel-crocante.svg#iCiel Crocante") format("svg");
}
@font-face {
  font-family: "Muli";
  src: url("fonts/muli-bold.eot");
  src: url("fonts/muli-bold.eot?#iefix") format("embedded-opentype"), url("fonts/muli-bold.woff2") format("woff2"), url("fonts/muli-bold.woff") format("woff"), url("fonts/muli-bold.ttf") format("truetype"), url("fonts/muli-bold.svg#Muli") format("svg");
}
/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #000;
  font-family: Neucha, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  overflow-y: scroll;
}

.ft-paytone {
  font-family: "Paytone One", sans-serif;
}

.ft-neucha {
  font-family: "Neucha", sans-serif;
}

.ft-iciel {
  font-family: "iCiel Crocante", sans-serif;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.wrapper {
  max-width: 1182px;
  margin-left: auto;
  margin-right: auto;
}

.body-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/bg_body.jpg) no-repeat center bottom/cover;
}

.container {
  min-height: 100vh;
  position: relative;
  z-index: 55;
  overflow: hidden;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  .sm {
    display: none !important;
  }

  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media print, (min-width: 1025px) {
  body {
    position: static !important;
    top: auto;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .md {
    display: none !important;
  }

  body {
    font-size: 14px;
  }

  .container {
    min-width: 320px;
  }

  .wrapper {
    width: auto;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* PARTS
 * ----------------------------------------------- */
/* COMMON HEADER
 * ----------------------------------------------- */
header {
  background: rgba(44, 0, 53, 0.45);
  position: relative;
  z-index: 88;
}
header .wrapper {
  max-width: 100%;
}
header .header-logo {
  width: 310px;
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 66px 0 54px;
}
header .header-left, header .header-right {
  display: flex;
  align-items: center;
}
header .header-group {
  display: flex;
  align-items: center;
}
header .header-avatar {
  width: 64px;
  margin-left: 20px;
}
header .header-avatar a {
  display: block;
}
header .header-avatar img {
  display: block;
}
header .header-name {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-family: "Muli", sans-serif;
  text-align: right;
}
header .header-link {
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  color: #FFEA82;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-link .line {
  padding: 0 10px;
}
header .header-link a {
  color: #FFEA82;
  display: block;
}
header .header-text {
  background: #f44336;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 20px 4px;
  margin-top: 5px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  header .header-text {
    font-size: 16px;
    padding-bottom: 3px;
  }
}

.list-system {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.list-system > li {
  margin-left: 13px;
}
.list-system a {
  display: block;
  width: 40px;
  height: 40px;
  background: no-repeat 0 0/100% auto;
}
.list-system .icon-wallet {
  background-image: url(../img/icon_wallet.png);
}
.list-system .icon-notify {
  position: relative;
  background-image: url(../img/icon_notify.png);
}
.list-system .icon-notify span {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid #fff;
  content: "";
  position: absolute;
  right: -2px;
  top: -4px;
  background: #f44336;
  display: block;
}

.navigation {
  margin-left: 120px;
}
.navigation .navigation-menu {
  font-size: 16px;
  display: flex;
}
.navigation .navigation-menu a {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 32px;
  height: 100px;
  white-space: nowrap;
}
.navigation .navigation-menu a:hover, .navigation .navigation-menu a.is-current {
  background: url(../img/bg_nav.png) repeat-x 0 0/auto 100%;
}
.navigation .navigation-menu .icon-home {
  position: relative;
  padding-left: 60px;
  display: block;
}
.navigation .navigation-menu .icon-home:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 32px;
  background: url(../img/icon_home.png) no-repeat 0 0/auto 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.navigation-point {
  background: rgba(0, 1, 13, 0.7);
  padding: 15px 0;
}
.navigation-point .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
}

.power-group {
  margin-left: 20px;
  padding: 4px 0 0 60px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  position: relative;
}
.power-group::before {
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url(../img/icon_05.png) no-repeat 0 center/50px auto;
  position: absolute;
}
.power-group .power {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}
.power-group .power-text {
  margin-right: 0.4em;
  color: #C8FF0F;
}

.list-point {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -5px;
}
.list-point > li {
  margin-right: 10px;
  margin-bottom: 5px;
}
.list-point a {
  display: block;
  position: relative;
  background: #005AC7;
  border-radius: 20px;
  font-size: 19px;
  color: #fff;
  padding: 4px 15px 3px 55px;
  min-width: 110px;
  overflow: hidden;
}
.list-point a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 60px;
  background: no-repeat center center/100% auto;
}
.list-point .icon01:before {
  background-image: url(../img/icon_01.png);
}
.list-point .icon02:before {
  background-image: url(../img/icon_02.png);
}
.list-point .icon03:before {
  background-image: url(../img/icon_03.png);
}
.list-point .icon04 {
  min-width: 170px;
}
.list-point .icon04:before {
  left: -5px;
  background-image: url(../img/icon_04.png);
}
.list-point .icon05 {
  min-width: 170px;
}
.list-point .icon05:before {
  left: -5px;
  background-image: url(../img/icon_07.png);
}

@media only screen and (max-width: 1630px) and (min-width: 768px) {
  header .header-inner {
    padding: 0;
  }

  .navigation {
    margin-left: 60px;
  }

  .navigation .navigation-menu a {
    padding: 0 20px;
  }

  .list-system {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 768px) {
  .navigation-point .wrapper {
    padding-right: 20px;
  }

  .list-point > li {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 1420px) and (min-width: 768px) {
  header .header-logo {
    width: 220px;
  }

  .navigation {
    margin-left: 20px;
  }

  .navigation .navigation-menu {
    font-size: 15px;
  }

  .navigation .navigation-menu a {
    padding: 0 15px;
    height: 80px;
  }

  .navigation .navigation-menu .icon-home {
    padding-left: 35px;
  }
  .navigation .navigation-menu .icon-home:before {
    width: 30px;
    height: 25px;
  }

  .list-point a {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 15px;
    min-width: 80px;
  }

  .list-point a:before {
    width: 48px;
    height: 30px;
  }
}
@media only screen and (max-width: 1090px) and (min-width: 768px) {
  header .header-logo {
    width: 180px;
  }

  .navigation {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1040px) and (min-width: 768px) {
  .navigation-point .wrapper {
    justify-content: space-between;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .header-group {
    position: absolute;
    right: 195px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 1630px) and (min-width: 1025px) {
  .header-group {
    right: 130px;
  }
}
@media only screen and (max-width: 1160px) and (min-width: 768px) {
  header .header-name {
    font-size: 12px;
    padding-top: 0;
  }

  header .header-link {
    font-size: 14px;
  }

  header .header-avatar {
    width: 40px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 920px) and (min-width: 768px) {
  .navigation-point {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
  }
  .navigation-point::-webkit-scrollbar {
    height: 0;
  }

  .list-point {
    margin: 0 20px 0 -5px;
    flex-wrap: nowrap;
  }
  .list-point > li {
    margin-bottom: 0;
  }
}
@media print, (min-width: 1025px) {
  .button-close {
    display: none;
  }

  .overlay-menu {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 15px 0;
  }

  header .header-group {
    padding: 0 15px;
    margin-bottom: 15px;
  }

  header .header-avatar {
    order: 1;
    margin: 0 10px 0 0;
  }

  header .header-name {
    text-align: left;
  }

  header .header-column {
    order: 2;
  }

  header .header-link {
    justify-content: flex-start;
  }

  .overlay-menu {
    position: fixed;
    z-index: 900;
    left: 0;
    width: 100%;
    top: 0;
    background: rgba(0, 1, 13, 0.7);
    display: none;
    height: 100%;
  }

  header .header-avatar {
    width: 64px;
  }

  .navigation {
    position: fixed;
    right: -320px;
    width: 300px;
    top: 0;
    height: 100vh;
    background: rgba(3, 0, 71, 0.9);
    padding: 50px 0;
    overflow-y: auto;
    z-index: 999;
    transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .navigation.is-show-block {
    right: 0;
  }

  .navigation .navigation-menu {
    display: block;
  }

  .navigation .navigation-menu a {
    display: block;
    height: auto;
    padding: 15px;
  }

  .button-menu {
    width: 30px;
    height: 30px;
    background: url(../img/btn_menu.png) no-repeat center center/100% auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .button-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    background: url(../img/icon_close.png) no-repeat center center/20px auto;
  }

  header .header-right {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 1100px) {
  .list-point a {
    font-size: 16px;
    padding-left: 35px;
    padding-right: 10px;
    min-width: 80px;
  }

  .list-point a:before {
    width: 40px;
    height: 26px;
  }

  .list-point .icon04,
  .list-point .icon05 {
    min-width: 80px;
  }

  .list-point > li {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .power-group {
    font-size: 12px;
    padding-left: 50px;
  }
  .power-group:before {
    width: 40px;
    height: 40px;
    background-size: 100% auto;
  }

  .power-group .power {
    font-size: 14px;
  }

  .button-menu {
    width: 40px;
    height: 40px;
  }

  header .header-right {
    padding-right: 54px;
  }
}
@media only screen and (max-width: 767px) {
  header .header-logo {
    width: 160px;
  }

  header .header-inner {
    padding: 0;
  }

  .button-menu {
    right: 10px;
  }

  .list-system {
    margin-left: 0;
  }

  .list-system a {
    width: 30px;
    height: 30px;
  }

  .list-system > li {
    margin-left: 5px;
  }

  .navigation-point {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
  }
  .navigation-point::-webkit-scrollbar {
    height: 0;
  }

  .navigation-point .wrapper {
    justify-content: space-between;
    padding: 0 10px;
  }

  .list-point {
    margin: 0 20px 0 -5px;
    flex-wrap: nowrap;
  }

  .list-point > li {
    margin: 0;
    padding: 0 5px;
  }

  .power-group {
    margin-bottom: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 374px) {
  .navigation {
    width: 260px;
  }
}
/* COMMON FOOTER
 * ----------------------------------------------- */
footer {
  width: auto;
  height: auto;
}

@media print, (min-width: 768px) {
  footer {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    width: auto;
    height: auto;
  }
}
.breadcrumb {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 23px 4px 33px;
}
.breadcrumb > li {
  padding-right: 0.7em;
  margin-right: 0.2em;
  position: relative;
}
.breadcrumb > li:after {
  content: "/";
  position: absolute;
  right: 0;
  top: 0;
}
.breadcrumb > li:last-child {
  padding-right: 0;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb a {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .breadcrumb {
    font-size: 16px;
    padding: 15px 0 22px;
  }
}
.is-no-scroll {
  position: fixed !important;
  width: 100%;
}
.is-no-scroll .lightbox-content {
  overflow-y: auto;
}

.lightbox-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90992;
  overflow: hidden;
  background: rgba(0, 2, 22, 0.8);
}
.lightbox-content .popup-light-box {
  width: 100%;
  height: 100%;
  padding: 0;
  display: table;
}
.lightbox-content .popup-light-box-cell {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .lightbox-content {
    width: 100%;
  }

  .js-no-scroll .lightbox-content {
    -webkit-overflow-scrolling: touch;
  }
}
.button-close-success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF5200;
  margin: 0 auto;
  background: url(../img/btn_04.png) no-repeat center center/100% auto;
}
@media print, (min-width: 768px) {
  .button-close-success {
    width: 175px;
    height: 104px;
    font-size: 34px;
  }
}
@media only screen and (max-width: 767px) {
  .button-close-success {
    width: 88px;
    height: 52px;
    font-size: 18px;
  }
}

.pagination-list {
  display: flex;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .pagination-list {
    padding-bottom: 10px;
  }
}
.pagination-list a {
  padding: 5px 10px;
  display: block;
}
.pagination-list .is-current {
  padding: 5px 10px;
  background: #2199e8;
  color: #fff;
  display: block;
}
.pagination-list .disabled {
  pointer-events: none;
  color: #cacaca;
}

.button-default {
  width: 139px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/btn_05.png) no-repeat 0 0/100% auto;
  font-size: 16px;
  color: #FF5200;
  border: none;
  box-shadow: none;
  appearance: none;
  padding-bottom: 7px;
  cursor: pointer;
}

.button-request {
  background: #0002EB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  font-size: 11px;
  color: #FFEA82;
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  cursor: pointer;
}

button.button-request {
  display: block;
}

.button-sell {
  background: #58D700;
  color: #fff;
  font-size: 13px;
  border-radius: 15px;
  width: 93px;
  margin: 0 auto;
  padding: 4px 10px;
  display: block;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
}

.title-primary {
  text-align: center;
  color: #FFEA82;
}

@media print, (min-width: 768px) {
  .title-primary {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .title-primary {
    font-size: 25px;
  }
}
@media only screen and (max-width: 374px) {
  .title-primary {
    font-size: 20px;
  }
}
.title-default {
  font-size: 28px;
  color: #fff;
  padding: 23px 4px 33px;
}

@media only screen and (max-width: 767px) {
  .title-default {
    font-size: 16px;
    padding: 15px 0 22px;
  }
}
.is-loaded.page-top {
  position: static;
}
.is-loaded .loading {
  display: none;
}

.page-top {
  position: fixed;
  width: 100%;
}

.loading {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background: #fff;
}

.loader {
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 767px) {
  .loader {
    font-size: 15px;
  }
}

@-webkit-keyframes load5 {
  0%,
100% {
    box-shadow: 0em -2.6em 0em 0em #030047, 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.5), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.7), 1.8em -1.8em 0 0em #030047, 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.5), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.7), 2.5em 0em 0 0em #030047, 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.5), 2.5em 0em 0 0em rgba(3, 0, 71, 0.7), 1.75em 1.75em 0 0em #030047, 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.5), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.7), 0em 2.5em 0 0em #030047, -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.5), 0em 2.5em 0 0em rgba(3, 0, 71, 0.7), -1.8em 1.8em 0 0em #030047, -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.5), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.7), -2.6em 0em 0 0em #030047, -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.5), -2.6em 0em 0 0em rgba(3, 0, 71, 0.7), -1.8em -1.8em 0 0em #030047;
  }
}
@keyframes load5 {
  0%,
100% {
    box-shadow: 0em -2.6em 0em 0em #030047, 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.5), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.7), 1.8em -1.8em 0 0em #030047, 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.5), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.7), 2.5em 0em 0 0em #030047, 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.5), 2.5em 0em 0 0em rgba(3, 0, 71, 0.7), 1.75em 1.75em 0 0em #030047, 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.5), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.7), 0em 2.5em 0 0em #030047, -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.2), -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.5), 0em 2.5em 0 0em rgba(3, 0, 71, 0.7), -1.8em 1.8em 0 0em #030047, -2.6em 0em 0 0em rgba(3, 0, 71, 0.2), -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.5), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.7), -2.6em 0em 0 0em #030047, -1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(3, 0, 71, 0.2), 1.8em -1.8em 0 0em rgba(3, 0, 71, 0.2), 2.5em 0em 0 0em rgba(3, 0, 71, 0.2), 1.75em 1.75em 0 0em rgba(3, 0, 71, 0.2), 0em 2.5em 0 0em rgba(3, 0, 71, 0.2), -1.8em 1.8em 0 0em rgba(3, 0, 71, 0.5), -2.6em 0em 0 0em rgba(3, 0, 71, 0.7), -1.8em -1.8em 0 0em #030047;
  }
}
/* slider
 * ----------------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* PAGES
 * ----------------------------------------------- */
.item-fish {
  background: url(../img/bg_box_02.png) no-repeat 0 0;
  color: #fff;
  line-height: 1.55;
  display: flex;
  align-items: center;
  padding: 20px;
}
.item-fish .fish-content {
  padding-left: 15px;
}
.item-fish .fish-name {
  line-height: 1.3;
}

@media print, (min-width: 768px) {
  .box-fish {
    padding: 62px 17px 25px;
  }

  .list-fish {
    display: flex;
    flex-wrap: wrap;
  }
  .list-fish > li {
    width: 353px;
    margin: 0 0 26px 22px;
  }
  .list-fish > li:nth-child(3n + 1) {
    margin-left: 0;
  }

  .item-fish {
    width: 353px;
    height: 228px;
    font-size: 18px;
    padding: 20px;
  }
  .item-fish .fish-photo {
    width: 128px;
  }
  .item-fish .fish-content {
    width: calc(100% - 128px);
  }
  .item-fish .fish-name {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1180px) and (min-width: 768px) {
  .list-fish {
    width: auto;
    max-width: 728px;
    margin: 0 auto;
  }
  .list-fish > li {
    margin-right: 22px;
    margin-left: 0;
  }
  .list-fish > li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 850px) and (min-width: 768px) {
  .list-fish > li {
    margin-right: 0;
    margin-left: 0;
    width: 50%;
    padding: 0 5px;
  }

  .item-fish {
    width: 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 767px) {
  .box-fish {
    padding: 30px 20px;
  }

  .list-fish {
    max-width: 353px;
    margin: 0 auto;
  }
  .list-fish > li {
    margin-bottom: 20px;
  }
  .list-fish > li:last-child {
    margin-bottom: 0;
  }

  .item-fish {
    max-width: 353px;
    height: 228px;
    font-size: 18px;
    padding: 20px;
    background-size: 100% 100%;
  }
  .item-fish .fish-photo {
    width: 128px;
  }
  .item-fish .fish-content {
    width: calc(100% - 128px);
  }
  .item-fish .fish-name {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 430px) {
  .item-fish {
    font-size: 16px;
    height: 210px;
  }
  .item-fish .fish-photo {
    width: 100px;
  }
  .item-fish .fish-content {
    width: calc(100% - 100px);
  }
  .item-fish .fish-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .item-fish .fish-photo {
    width: calc(100% - 170px);
  }
  .item-fish .fish-content {
    width: 170px;
  }

  .item-fish .fish-name {
    font-size: 18px;
  }
}
.section-common {
  padding-bottom: 50px;
}

.box-common {
  border-radius: 10px;
  background: rgba(3, 0, 71, 0.74);
}

.box-shop {
  padding: 32px 20px 118px;
}

@media print, (min-width: 768px) {
  .list-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .list-box .item-prod {
    margin: 120px 31px 0;
  }
}
.box-item {
  width: 274px;
  height: 326px;
  position: relative;
  padding: 108px 25px 50px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  background: url(../img/bg_box.png) no-repeat center 0/100% auto;
}
.box-item .icon {
  position: absolute;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  top: -72px;
}
.box-item .name {
  font-size: 28px;
  margin-bottom: 25px;
}
.box-item .price {
  color: #F7FF1F;
}
.box-item .text {
  margin-top: 8px;
}
.box-item .button-buy,
.box-item .button-usd,
.box-item .total-point {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}
.box-item .button-usd {
  width: 95px;
  height: 35px;
  color: #fff;
  background: url(../img/bg_usd.png) no-repeat center center/100% auto;
  padding-left: 48px;
  position: relative;
  justify-content: flex-start;
}
.box-item .button-usd.icon-bat:before {
  background-image: url(../img/icon_usd_01.png);
}
.box-item .button-usd:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 36px;
  background: url(../img/icon_usd.png) no-repeat center center/100% auto;
}
.box-item .button-usd.icon-none {
  padding-left: 0;
  text-align: center;
  justify-content: center;
}
.box-item .button-usd.icon-none:before {
  display: none;
}
.box-item .button-buy {
  width: 70px;
  height: 42px;
  background: url(../img/btn_buy.png) no-repeat center center/100% auto;
  font-size: 19.7px;
  color: #FF5200;
}
.box-item .icon-plus {
  width: 42px;
  height: 36px;
  background: url(../img/icon_plus.png) no-repeat center center/100% auto;
  margin: 0 15px 0 6px;
}
.box-item .total-point {
  width: 55px;
  height: 35px;
  background: url(../img/bg_point.png) no-repeat center center/100% auto;
  margin: 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.box-item .group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
}

.button-level {
  width: 152px;
  height: 55px;
  background: url(../img/btn_03.png) no-repeat center center/100% auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  font-size: 20px;
  color: #533700;
  margin-left: 7px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}
.button-level:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/btn_02.png) no-repeat center center/118px auto;
}

.button-history {
  width: 330px;
  height: 115px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  background: url(../img/btn_01.png) no-repeat center center/100% auto;
  padding-bottom: 15px;
  cursor: pointer;
}
@media only screen and (max-width: 374px) {
  .button-history {
    width: 290px;
    height: 98px;
    font-size: 20px;
  }
}
.button-history.is-history-small {
  width: 210px;
  height: 75px;
  background-image: url(../img/btn_06.png);
  font-size: 34px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .button-history.is-history-small {
    font-size: 30px;
  }
}
@media only screen and (max-width: 374px) {
  .button-history.is-history-small {
    font-size: 20px;
    width: 180px;
    height: 64px;
  }
}

@media only screen and (max-width: 480px) {
  .box-shop {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .box-item {
    padding-top: 90px;
    font-size: 16px;
  }

  .box-item .icon {
    width: 130px;
    top: -50px;
  }

  .box-item .name {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.box-success {
  background: url(../img/bg_success.png) no-repeat 0 0/100% auto;
  margin: 0 auto;
}
.box-success .success-name {
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

@media print, (min-width: 768px) {
  .box-success {
    width: 485px;
    height: 582px;
    padding: 82px 15px 15px;
  }
  .box-success .success-photo {
    width: 214px;
    margin: 0 auto 22px;
  }
  .box-success .success-name {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .box-shop {
    padding-bottom: 30px;
  }

  .box-success {
    width: 260px;
    height: 312px;
    padding: 40px 15px 15px;
  }
  .box-success .success-photo {
    width: 107px;
    margin: 0 auto 10px;
  }
  .box-success .success-name {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .list-box {
    width: 274px;
    margin: 0 auto;
  }
  .list-box .item-prod {
    padding: 90px 5px 50px;
    outline: none;
  }

  .box-item {
    width: 264px;
  }

  .slick-arrow {
    padding: 0;
    display: block;
    width: 24px;
    height: 36px;
    background: no-repeat center center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -1000px;
    overflow: hidden;
  }
  .slick-arrow.slick-prev {
    background-image: url(../img/btn_prev.png);
    left: -25px;
  }
  .slick-arrow.slick-next {
    background-image: url(../img/btn_next.png);
    right: -25px;
  }
}
@media only screen and (max-width: 374px) {
  .list-box {
    width: 250px;
  }

  .box-item {
    height: 288px;
    width: 240px;
  }
}
.modal-dialog-box {
  background: #fff;
  max-width: 1140px;
  margin: 0 auto;
  border-radius: 10px;
}
.modal-dialog-box .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Muli", sans-serif;
}
.modal-dialog-box .modal-body {
  padding: 15px;
}
.modal-dialog-box .modal-footer {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}

.lightbox-history {
  padding: 50px 10px;
}

.mobal-close-common {
  display: inline-block;
  padding: 3px 12px;
  font-size: 16px;
  line-height: 1.43;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #efefef;
}

.table-data {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}
.table-data th {
  background-color: f2f2f2;
  border-bottom: 0;
  color: #636363;
  font-weight: 400;
  padding: 15px 10px;
}
.table-data thead {
  background-color: #f4fbfb;
  color: #9d9d9d;
  border: 1px solid #c2dde9;
  border-bottom-color: #ddd;
  font-weight: 500;
}
.table-data thead th {
  border-top: none;
  border-left: 1px solid #ddd;
}
.table-data thead th:first-child {
  border-left: none;
}
.table-data th,
.table-data td {
  border: none;
  text-align: center;
}
.table-data td {
  padding: 0 10px;
}
.table-data tbody tr {
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 767px) {
  .table-data th,
  .table-data td {
    white-space: nowrap;
  }

  .inner-over {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.image-common {
  display: block;
  width: 100%;
}

.item-tank {
  background: #001645;
}
.item-tank .tank-image {
  position: relative;
}
.item-tank .tank-image img {
  position: relative;
  z-index: 0;
}
.item-tank .tank-info {
  padding: 5px 15px 10px;
  color: #fff;
  position: relative;
}
.item-tank .name {
  font-size: 18px;
  margin-bottom: 5px;
}
.item-tank .desc {
  padding-right: 120px;
  line-height: 1.55;
}
.item-tank .button-level {
  width: 110px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  left: auto;
  font-size: 14px;
  transform: translateX(0);
}

.title-tank {
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}

@media print, (min-width: 768px) {
  .box-tank {
    padding: 70px 20px 35px;
  }

  .list-tank {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list-tank .item-slide-tank {
    width: 288px;
    margin: 0 26px 26px;
  }

  .title-tank {
    font-size: 34px;
  }

  .row-tank {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .row-tank {
    margin-top: 25px;
  }

  .box-tank {
    padding: 50px 20px;
  }

  .list-tank {
    width: 308px;
    margin: 0 auto;
  }
  .list-tank .item-slide-tank {
    padding: 0 10px;
  }

  .title-tank {
    font-size: 28px;
  }
}
@media only screen and (max-width: 400px) {
  .list-tank {
    width: 288px;
  }
}
@media only screen and (max-width: 374px) {
  .list-tank {
    width: 250px;
  }
}
.list-box .item-fishing {
  outline: none;
}

.box-fishing {
  background: url(../img/bg_box_01.png) no-repeat center center;
  position: relative;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}
.box-fishing .fishing-photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.box-fishing .fishing-photo img {
  width: 100%;
  display: block;
}
.box-fishing .fishing-text {
  color: #FFEA82;
}
.box-fishing .button-default {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media print, (min-width: 768px) {
  .box-whalefishing {
    padding: 40px 20px 110px;
  }

  .box-fishing {
    width: 326px;
    height: 272px;
    padding: 132px 20px 25px;
  }
  .box-fishing .fishing-photo {
    width: 302px;
    top: -60px;
  }
  .box-fishing .fishing-text {
    font-size: 18px;
  }
  .box-fishing .fishing-name {
    font-size: 30px;
  }
  .box-fishing .button-default {
    bottom: -18px;
  }

  .list-box .item-fishing {
    margin: 100px 15px 0;
  }
}
@media only screen and (max-width: 767px) {
  .box-whalefishing {
    padding: 40px 10px 50px;
  }

  .box-fishing {
    width: 264px;
    height: 229px;
    background-size: contain;
    padding: 92px 20px 25px;
  }
  .box-fishing .fishing-photo {
    width: 220px;
    top: -60px;
  }
  .box-fishing .fishing-text {
    font-size: 16px;
  }
  .box-fishing .fishing-name {
    font-size: 25px;
  }
  .box-fishing .button-default {
    bottom: -18px;
  }

  .list-box .item-fishing {
    padding: 70px 5px 25px;
  }
}
@media only screen and (max-width: 374px) {
  .box-fishing {
    width: 240px;
    height: 200px;
    padding-top: 74px;
  }
  .box-fishing .fishing-photo {
    width: 180px;
    top: -40px;
  }
  .box-fishing .fishing-text {
    font-size: 14px;
  }
  .box-fishing .fishing-name {
    font-size: 20px;
  }

  .list-box .item-fishing {
    padding: 40px 5px 25px;
  }
}
.success-fish {
  position: relative;
  text-align: center;
  color: #fff;
}
.success-fish .success-photo {
  margin-bottom: 16px;
}
.success-fish .btn-close {
  width: 116px;
  height: 100px;
  position: absolute;
  right: -28px;
  top: -14px;
  background: url(../img/btn_close.png) no-repeat center center/100% auto;
}
.success-fish .success-text {
  font-size: 20px;
  line-height: 1.2;
  max-width: 366px;
  margin: 0 auto 13px;
}
.success-fish .success-desc {
  font-size: 18px;
  margin-bottom: 28px;
}
.success-fish .quantity-wrap {
  width: 245px;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-fish .quantity-wrap .spin {
  width: 49px;
  height: 41px;
  background: no-repeat center center/100% auto;
}
.success-fish .quantity-wrap .button-minus {
  background-image: url(../img/btn_prev_02.png);
}
.success-fish .quantity-wrap .button-plus {
  background-image: url(../img/btn_next_02.png);
}
.success-fish .quantity-wrap .over {
  overflow: hidden;
  margin: 0 5px;
}
.success-fish .quantity-wrap .over .quantity-text-number {
  margin: 0 -20px;
}
.success-fish .quantity-wrap .quantity-text-number {
  width: 174px;
  height: 48px;
  background: url(../img/bg_number.png) no-repeat center center/auto 100%;
  font-size: 30px;
  line-height: 1;
  padding-left: 10px;
  color: #fff;
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  text-align: center;
  padding-bottom: 5px;
}

.quantity-text-numberinput::-webkit-outer-spin-button,
.quantity-text-numberinput::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

@media only screen and (max-width: 767px) {
  .success-fish {
    padding-top: 20px;
  }
  .success-fish .success-photo {
    width: 60px;
    margin-bottom: 10px;
  }
  .success-fish .btn-close {
    width: 40px;
    height: 40px;
    right: -5px;
    top: -5px;
  }
  .success-fish .success-text {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .success-fish .success-desc {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .success-fish .quantity-wrap {
    width: auto;
    margin: 0 auto 10px;
  }
  .success-fish .quantity-wrap .spin {
    width: 40px;
    height: 40px;
  }
  .success-fish .quantity-wrap .over .quantity-text-number {
    margin: 0 -15px;
  }
  .success-fish .quantity-wrap .quantity-text-number {
    width: 150px;
    height: 42px;
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 2px;
  }
}
.box-wallet {
  color: #fff;
}

.list-tabs {
  line-height: 1.2;
  text-align: center;
  display: flex;
  position: relative;
  margin: -18px -20px 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding-bottom: 1px;
}
.list-tabs:before, .list-tabs:after {
  content: "";
  position: absolute;
}
.list-tabs:before {
  border-bottom: 1px solid #002fca;
  left: 20px;
  right: 20px;
  bottom: 1px;
}
.list-tabs:after {
  border-left: 1px solid #002fca;
  top: 18px;
  left: 50%;
  bottom: 16px;
}
.list-tabs > li {
  width: 50%;
  padding-left: 1px;
}
.list-tabs > li:nth-child(1) .is-active {
  background: url(../img/bg_tab_01.png) no-repeat 0 0/cover;
}
.list-tabs > li:nth-child(2) .is-active {
  background: url(../img/bg_tab_02.png) no-repeat 0 0/cover;
}
.list-tabs > li:first-child {
  padding-left: 0;
}
.list-tabs a {
  color: #FFEA82;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px;
}
.list-tabs .is-active {
  color: #5BF8FF;
}

.wallet-title {
  color: #FFEA82;
}

.coin-text {
  line-height: 1.6;
}

.is-yellow {
  color: #EAFF1A;
}

.coin-recharge {
  color: #FF010F;
  font-size: 14px;
}

.coin-row {
  margin-bottom: 20px;
}
.coin-row .coin-input {
  position: relative;
}
.coin-row .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}
.coin-row .coin-number .is-yellow {
  padding: 0 8px 0 12px;
}

.coin-code .code {
  width: 80px;
}

.coin-photo {
  width: 80px;
}

.coin-copy {
  position: relative;
}

.copy-button {
  position: absolute;
  width: 50px;
  right: 15px;
  top: 1px;
  height: 56px;
  background: url(../img/icon_copy.png) no-repeat center center/26px auto;
}

.deposit-row {
  margin-bottom: 27px;
}
.deposit-row .wallet-title {
  margin-bottom: 22px;
}
.deposit-row .select {
  margin-bottom: 15px;
}
.deposit-row .coin-text {
  margin-bottom: 3px;
}

.select {
  background: #EAFF1A url(../img/icon_select.png) no-repeat right 15px center/12px auto;
  border-radius: 20px;
  height: 38px;
  padding: 0 30px 0 15px;
  font-size: 18px;
  line-height: inherit;
  display: block;
  width: 214px;
  white-space: nowrap;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select::-ms-expand {
  display: none;
}

.text-input {
  background: #002E93;
  border-radius: 28px;
  font-size: 19px;
  color: #fff;
  line-height: inherit;
  font-family: inherit;
  border: none;
  width: 100%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  display: block;
  padding: 0 28px;
  height: 56px;
}

span.text-input {
  display: flex;
  align-items: center;
}

button.text-input {
  background: #EAFF1A;
  color: #002E93;
  cursor: pointer;
  font-size: 30px;
  font-family: "Paytone One", sans-serif;
  width: 214px;
  margin-bottom: 30px;
  padding: 0 10px 5px !important;
}
@media only screen and (max-width: 767px) {
  button.text-input {
    width: 100%;
  }
}

.text-input::-webkit-input-placeholder {
  color: #70D1FF;
  opacity: 1;
  font-size: 15px;
  padding-bottom: 3px;
  display: block;
}

.text-input:-ms-input-placeholder {
  color: #70D1FF;
  opacity: 1;
  font-size: 15px;
  padding-bottom: 3px;
  display: block;
}

.text-input::placeholder {
  color: #70D1FF;
  opacity: 1;
  font-size: 15px;
  padding-bottom: 3px;
  display: block;
}

.list-number {
  counter-reset: counter;
  line-height: 1.375;
}
.list-number > li {
  padding-left: 16px;
  position: relative;
}
.list-number > li:before {
  content: counter(counter) ".";
  counter-increment: counter;
  position: absolute;
  right: 100%;
  margin-right: -12px;
  top: 0;
}

.tab-withdraw .withdraw-row {
  margin-bottom: 30px;
}
.tab-withdraw .withdraw-row .wallet-title {
  margin-bottom: 5px;
}
.tab-withdraw .withdraw-quantity {
  margin-bottom: 20px;
}
.tab-withdraw .withdraw-quantity .wallet-title {
  margin-bottom: 8px;
}

@media print, (min-width: 768px) {
  .box-wallet {
    padding: 18px 20px 36px;
  }
  .box-wallet .list-number {
    margin-left: 12px;
  }

  .list-tabs {
    font-size: 40px;
  }
  .list-tabs a {
    height: 94px;
  }

  .wallet-content {
    padding: 35px 12px;
  }

  .coin-text {
    font-size: 19px;
  }

  .coin-row {
    display: flex;
    align-items: center;
  }
  .coin-row .coin-input {
    width: 195px;
  }
  .coin-row .text-input {
    padding-right: 55px;
  }
  .coin-row .coin-number {
    padding-left: 20px;
  }
  .coin-row .coin-number .is-yellow {
    padding: 0 8px 0 12px;
  }

  .coin-code {
    display: flex;
    align-items: flex-start;
  }
  .coin-code .text-input {
    width: 444px;
  }
  .coin-code .code {
    margin: -15px 0 0 50px;
  }

  .coin-photo {
    margin: -18px 0 0 50px;
  }

  .tab-withdraw .coin-photo {
    margin-top: -12px;
  }

  .withdraw-text {
    font-size: 19px;
  }

  .coin-withdraw .coin-input {
    margin-right: 10px;
  }
  .coin-withdraw .withdraw-column {
    width: 422px;
  }
  .coin-withdraw .withdraw-column .text-input {
    padding-right: 28px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .coin-withdraw .withdraw-column {
    width: 300px;
  }
  .coin-withdraw .coin-photo {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .box-wallet {
    padding: 18px 20px 36px;
  }

  .list-tabs {
    font-size: 20px;
  }
  .list-tabs a {
    height: 70px;
  }

  .wallet-content {
    padding: 20px 0;
  }

  .coin-text {
    font-size: 19px;
  }

  .coin-row .coin-input {
    margin-bottom: 15px;
  }
  .coin-row .text-input {
    padding-right: 55px;
  }
  .coin-row .coin-number {
    text-align: center;
  }

  .coin-number {
    font-size: 20px;
  }

  .coin-code .text-input {
    width: 100%;
    padding-right: 40px;
    margin-bottom: 15px;
  }

  .coin-photo {
    margin: 0 auto;
  }

  .text-input {
    font-size: 15px;
    padding-left: 15px;
  }

  .copy-button {
    width: 30px;
    background-size: 18px auto;
    right: 10px;
  }

  .tab-withdraw .button-request {
    margin: 0 auto;
  }

  .withdraw-text {
    font-size: 16px;
  }

  .coin-withdraw .coin-input {
    margin-right: 0;
  }
  .coin-withdraw .withdraw-column {
    width: 100%;
    margin-bottom: 15px;
  }
  .coin-withdraw .withdraw-column .text-input {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 374px) {
  .list-tabs {
    font-size: 16px;
  }
  .list-tabs a {
    height: 60px;
  }

  .text-input {
    font-size: 13px;
    padding-left: 15px;
  }
}
.box-fishing-group {
  height: 430px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.box-fishing-group .box-bg {
  background: url(../img/bg_tank.png) 0 100% no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.fishes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}

.flip-h {
  transform: scaleX(-1);
}

.fish {
  position: absolute;
  right: 0;
}
.fish img {
  width: 100%;
}
.fish:nth-child(1) {
  width: 100px;
  top: 15%;
  animation: animate 20s linear infinite;
}
.fish:nth-child(2) {
  width: 81px;
  top: 20%;
  animation: animate 35s linear infinite;
}
.fish:nth-child(3) {
  width: 143px;
  top: 35%;
  animation: animate 30s linear infinite;
}
.fish:nth-child(4) {
  width: 110px;
  top: 50%;
  animation: animate 25s linear infinite;
}
.fish:nth-child(5) {
  width: 136px;
  top: 55%;
  animation: animate 40s linear infinite;
}
.fish.fish-101 {
  width: 50px;
  top: 45%;
  animation: animate-sm 15s linear infinite;
}
.fish.fish-102 {
  width: 50px;
  top: 65%;
  animation: animate-sm 30s linear infinite;
}
.fish.fish-103 {
  width: 50px;
  top: 25%;
  animation: animate-sm 22s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100px);
    right: -20%;
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
    right: 120%;
  }
}
@keyframes animate-sm {
  0% {
    transform: translateY(-30px);
    right: -20%;
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
    right: 120%;
  }
}
@media only screen and (max-width: 767px) {
  .fishes .fish:nth-child(1) {
    width: 60px;
    top: 15%;
  }
  .fishes .fish:nth-child(2) {
    width: 31px;
    top: 20%;
  }
  .fishes .fish:nth-child(3) {
    width: 43px;
    top: 35%;
  }
  .fishes .fish:nth-child(4) {
    width: 20px;
    top: 50%;
  }
  .fishes .fish:nth-child(5) {
    width: 36px;
    top: 55%;
  }
  .fishes .fish.fish-101 {
    width: 30px;
    top: 45%;
  }
  .fishes .fish.fish-102 {
    width: 30px;
    top: 45%;
  }
  .fishes .fish.fish-103 {
    width: 30px;
    top: 45%;
  }
}
.list-tab-button {
  display: flex;
  margin-bottom: 15px;
}
.list-tab-button > li {
  width: 230px;
  margin-right: 10px;
}
.list-tab-button a {
  display: block;
  padding: 10px 10px 12px;
  background: #35336C;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 28px;
}
.list-tab-button a.is-active {
  background: #030047;
}

.fish-tab {
  margin-bottom: 30px;
}

.item-card {
  border-radius: 8px;
  background: #2E0020;
  padding: 15px 12px;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  height: 100%;
  display: flex;
}
.item-card a {
  color: #fff;
}
.item-card .card-name {
  margin-bottom: 13px;
}
.item-card .card-photo {
  margin-bottom: 15px;
}
.item-card .card-left {
  width: 36.2%;
}
.item-card .card-info {
  width: 63.8%;
  padding: 5px 0 0 24px;
}
.item-card .card-row {
  margin-bottom: 10px;
}
.item-card .card-row:last-child {
  margin-bottom: 0;
}
.item-card.is-set-sell {
  background: #94100F;
}
.item-card.is-set-sell .button-sell {
  background: #2E0020;
}

@media print, (min-width: 768px) {
  .list-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
  }
  .list-card .item-card {
    width: calc(100% / 3 - 14px);
    margin: 7px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .list-card .item-card {
    width: calc(100% / 2 - 14px);
  }
}
@media only screen and (max-width: 767px) {
  .list-tab-button {
    margin: 0 -5px 30px;
  }
  .list-tab-button > li {
    width: calc(100% / 2 - 10px);
    margin: 0 5px;
  }

  .list-card .item-card {
    height: auto;
    margin-bottom: 15px;
  }

  .item-card .card-info {
    padding-left: 10px;
  }

  .box-fishing-group {
    height: 250px;
  }
}
.copy-addon {
  position: relative;
}
.copy-addon .text-box {
  display: flex;
  width: 100%;
  align-items: center;
  color: #BFBFBF;
}
.copy-addon .text-box.icon-link {
  background-image: url(../img/icon_link.png);
  background-position: left 10px center;
  background-repeat: no-repeat;
}
.copy-addon .button-addon {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  color: #CCD0ED;
  border-radius: 0 5px 5px 0;
  background: #3343B8 url(../img/icon_copy.png) no-repeat left 27px center/14px auto;
  text-align: left;
  cursor: pointer;
}

.text-box {
  height: 45px;
  background: #0D1F83;
  padding: 0 22px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 5px;
  line-height: inherit;
  font-family: inherit;
  border: none;
  font-size: 16px;
  display: block;
  width: 100%;
  color: #fff;
}

.text-box::-webkit-input-placeholder {
  color: #BFBFBF;
  opacity: 1;
}

.text-box:-ms-input-placeholder {
  color: #BFBFBF;
  opacity: 1;
}

.text-box::placeholder {
  color: #BFBFBF;
  opacity: 1;
}

.box-member .column-left {
  background: #0014A6;
}

.list-link > li:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.list-link a {
  display: block;
  padding: 14px 0 14px 50px;
  background: no-repeat 0 center;
  color: #fff;
}
.list-link a.is-active {
  color: #7CF331;
}
.list-link .icon01 {
  background-image: url(../img/icon_09.png);
  background-size: 25px auto;
}
.list-link .icon01.is-active {
  background-image: url(../img/icon_10.png);
}
.list-link .icon02 {
  background-image: url(../img/icon_11.png);
  background-size: 34px auto;
}
.list-link .icon02.is-active {
  background-image: url(../img/icon_08.png);
}

.form-common {
  color: #fff;
}
.form-common .form-change {
  margin-top: 25px;
}
.form-common .form-row01 {
  margin-bottom: 33px;
}
.form-common .form-column {
  padding: 0 5px;
}
.form-common .form-title {
  font-size: 18px;
  margin-bottom: 26px;
}
.form-common .form-head {
  margin-bottom: 10px;
}
.form-common .button-history {
  margin-top: 47px;
}

@media print, (min-width: 768px) {
  .common-heading {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  .common-heading .copy-addon {
    width: 560px;
    margin-top: 30px;
  }

  .copy-addon .text-box {
    padding-right: 134px;
  }
  .copy-addon .text-box.icon-link {
    background-size: 23px auto;
    padding-left: 60px;
  }
  .copy-addon .button-addon {
    width: 134px;
    padding-left: 54px;
  }

  .box-member {
    display: flex;
  }
  .box-member .column-left {
    width: 370px;
    border-radius: 10px 0 0 10px;
    padding: 55px 31px 45px 45px;
  }
  .box-member .column-right {
    width: calc(100% - 370px);
    padding: 55px 20px 45px 37px;
    border-radius: 0 10px 10px 0;
  }

  .list-link {
    font-size: 22px;
  }

  .form-common {
    width: 566px;
  }
  .form-common .form-row {
    display: flex;
    margin: 0 -5px 28px;
  }
  .form-common .form-column {
    width: 50%;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 1064px) and (min-width: 768px) {
  .box-member .column-left {
    width: 240px;
    padding: 55px 20px 20px 20px;
  }
  .box-member .column-right {
    width: calc(100% - 240px);
    padding: 55px 20px 20px 20px;
  }

  .form-common {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .common-heading {
    display: block;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .common-heading .copy-addon {
    width: 560px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .common-heading {
    margin-bottom: 40px;
  }

  .copy-addon .text-box {
    padding-right: 75px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) and (max-width: 374px) {
  .copy-addon .text-box {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .copy-addon .text-box.icon-link {
    background-size: 18px auto;
    padding-left: 35px;
  }
  .copy-addon .button-addon {
    width: 70px;
    padding-left: 22px;
    font-size: 13px;
    background-position: left 7px center;
    background-size: 10px;
  }

  .box-member .column-left {
    border-radius: 10px 10px 0 0;
    padding: 20px 15px;
  }
  .box-member .column-right {
    padding: 20px 15px 40px;
  }

  .list-link {
    font-size: 18px;
  }

  .text-box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-common .form-row {
    margin-bottom: 15px;
  }
  .form-common .form-column {
    margin-bottom: 15px;
    padding: 0;
  }
  .form-common .form-column:last-child {
    margin-bottom: 0;
  }
}
.tree-view {
  min-height: 50vh;
  color: #fff;
  font-size: 16px;
  line-height: 1.75;
}
.tree-view .title-tree {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.tree-view-wrap {
  overflow-x: auto;
  margin-top: 25px;
  overflow-y: hidden;
}
.tree-view-wrap .list-tree {
  position: relative;
}
.tree-view-wrap .list-tree:before {
  content: "";
  width: 1px;
  height: 8px;
  background: #030047;
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 2;
  opacity: 0.82;
}
.tree-view-wrap .list-tree > li:last-child:after {
  top: -1000000px;
}
.tree-view-wrap ul {
  white-space: nowrap;
  padding-left: 1em;
}
.tree-view-wrap ul .last {
  border-bottom: none;
}
.tree-view-wrap ul li {
  position: relative;
  padding-left: 1.5em;
}
.tree-view-wrap ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 10;
  background: #00AEEF;
  border-radius: 50%;
}
.tree-view-wrap ul li p span {
  cursor: pointer;
}
.tree-view-wrap ul li.is-collapsed:before {
  background: #00AEEF url(../img/treeview_on.png) 50% 50% no-repeat;
  background-size: 100% auto;
}
.tree-view-wrap ul li.is-expanded:before {
  background: #00AEEF url(../img/treeview_off.png) 50% 50% no-repeat;
  background-size: 100% auto;
}
.tree-view-wrap ul li > ul {
  position: relative;
}
.tree-view-wrap ul li + li:after {
  content: "";
  position: absolute;
  left: 4px;
  top: -14px;
  bottom: 13px;
  width: 1px;
  background: #00AEEF;
}
.tree-view-wrap ul .none:after {
  opacity: 0;
}
.tree-view-wrap ul li.none:last-child:after {
  bottom: 100%;
  margin-bottom: -13px;
}
.tree-view-wrap ul li + li.none:after {
  opacity: 1;
}

.success-01 {
  padding-top: 64px;
}
.success-01 .size {
  font-size: 20px;
  margin-bottom: 20px;
}
.success-01 .tab-popup {
  font-size: 18px;
  min-height: 99px;
  padding: 0 20px 5px;
  text-align: left;
}
.success-01 .button-close-success {
  margin-top: 25px;
  font-size: 26px;
}

.tab-ham-bat {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.tab-ham-bat > li {
  width: 166px;
  margin: 0 10px;
}
.tab-ham-bat a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 48px;
  font-size: 24px;
  color: #fff;
  padding-left: 33px;
}
.tab-ham-bat .ham {
  background: url(../img/bg_ham.png) no-repeat center center;
}
.tab-ham-bat .bat {
  background: url(../img/bg_bat.png) no-repeat center center;
}

@media only screen and (max-width: 767px) {
  .success-01 {
    padding-top: 20px;
  }
  .success-01 .button-close-success {
    margin-top: 10px;
    font-size: 15px;
  }

  .tab-ham-bat a {
    background-size: 100% auto !important;
    font-size: 14px;
    width: 100%;
    height: 30px;
    padding-left: 25px;
  }

  .tab-ham-bat {
    margin-bottom: 15px;
  }
  .tab-ham-bat > li {
    width: 48%;
    margin: 0 5px;
  }

  .success-01 .tab-popup {
    font-size: 13px;
  }
}
.wrap-congratulations {
  display: none;
}

.congratulations-photo {
  width: 303px;
  margin: 58px auto 50px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 767px) {
  .congratulations-photo {
    width: 160px;
    margin: 45px auto 25px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.section-login {
  min-height: 100vh;
  padding: 282px 20px 115px;
}
.section-login .box-common {
  max-width: 778px;
  margin: 0 auto;
  padding: 25px 98px 40px;
}
.section-login .photo {
  width: 214px;
  margin: -138px auto 30px;
  display: block;
}
.section-login .title {
  font-size: 34px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.text-input-control {
  height: 76px;
  font-size: 18px;
  background: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  line-height: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #0569FF;
  display: block;
  width: 100%;
  color: #fff;
}

.button-submit {
  width: 276px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/btn_07.png) no-repeat 0 0;
  font-size: 33px;
  color: #fff;
  border: none;
  box-shadow: none;
  appearance: none;
  padding-bottom: 22px;
  cursor: pointer;
  text-align: center;
  margin: 60px auto 0;
}

button.button-submit {
  display: block;
}

.text-input-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.text-input-control:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.text-input-control::placeholder {
  color: #fff;
  opacity: 1;
}

.login-text {
  color: #569AFF;
  font-size: 18px;
  text-align: center;
  margin: 26px 0 52px;
}
.login-text .line {
  padding: 0 15px 0 10px;
}
.login-text a {
  color: #569AFF;
}

.list-login > li {
  margin-bottom: 22px;
}
.list-login > li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .section-login {
    padding: 110px 20px 60px;
  }
  .section-login .box-common {
    padding: 25px 20px 30px;
  }
  .section-login .photo {
    width: 120px;
    margin: -85px auto 30px;
  }
  .section-login .title {
    font-size: 25px;
  }

  .text-input-control {
    height: 56px;
    font-size: 16px;
  }

  .button-submit {
    width: 193px;
    height: 67px;
    background-size: 100% auto;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
  }

  .login-text {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
.list-notice > li {
  margin-bottom: 10px;
}

.item-notice {
  background: #384663;
  font-family: Myriad Pro, Arial, Helvetica, sans-serif;
  color: #fff;
}
.item-notice.is-notice {
  background: #002b8a;
}

@media print, (min-width: 768px) {
  .item-notice {
    display: flex;
    width: 100%;
    padding: 20px 34px;
    font-size: 18px;
  }
  .item-notice .notice-time {
    width: 200px;
    padding-right: 20px;
  }
  .item-notice .notice-content {
    width: calc(100% - 200px);
  }

  .button-history.is-more {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .item-notice {
    padding: 15px 20px;
    font-size: 16px;
  }

  .button-history.is-more {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
