@charset "utf-8"

.box-fishing-group
  height: 430px
  margin-bottom: 25px
  position: relative
  overflow: hidden
  .box-bg
    background: url(../img/bg_tank.png) 0 100% no-repeat
    background-size: 100% auto
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 100

.fishes
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 10
  overflow: hidden
.flip-h
  transform: scaleX(-1)
.fish
  position: absolute
  right: 0

  img
    width: 100%

  &:nth-child(1)
    width: 100px
    top: 15%
    animation: animate 20s linear infinite

  &:nth-child(2)
    width: 81px
    top: 20%
    animation: animate 35s linear infinite

  &:nth-child(3)
    width: 143px
    top: 35%
    animation: animate 30s linear infinite

  &:nth-child(4)
    width: 110px
    top: 50%
    animation: animate 25s linear infinite

  &:nth-child(5)
    width: 136px
    top: 55%
    animation: animate 40s linear infinite

  &.fish-101
    width: 50px
    top: 45%
    animation: animate-sm 15s linear infinite

  &.fish-102
    width: 50px
    top: 65%
    animation: animate-sm 30s linear infinite

  &.fish-103
    width: 50px
    top: 25%
    animation: animate-sm 22s linear infinite

@keyframes animate
  0%
    transform: translateY(-100px)
    right: -20%

  25%
    transform: translateY(0)

  50%
    transform: translateY(100px)

  75%
    transform: translateY(0)

  to
    transform: translateY(-100px)
    right: 120%

@keyframes animate-sm
  0%
    transform: translateY(-30px)
    right: -20%

  25%
    transform: translateY(0)

  50%
    transform: translateY(30px)

  75%
    transform: translateY(0)

  to
    transform: translateY(-30px)
    right: 120%

+mobile

  .fishes
    .fish
      &:nth-child(1)
        width: 60px
        top: 15%

      &:nth-child(2)
        width: 31px
        top: 20%

      &:nth-child(3)
        width: 43px
        top: 35%

      &:nth-child(4)
        width: 20px
        top: 50%

      &:nth-child(5)
        width: 36px
        top: 55%

      &.fish-101
        width: 30px
        top: 45%

      &.fish-102
        width: 30px
        top: 45%

      &.fish-103
        width: 30px
        top: 45%

.list-tab-button
  display: flex
  margin-bottom: 15px
  &>li
    width: 230px
    margin-right: 10px
  a
    display: block
    padding: 10px 10px 12px
    background: #35336C
    font-size: 18px
    text-align: center
    color: #fff
    border-radius: 28px
    &.is-active
      background: #030047
.fish-tab
  margin-bottom: 30px

.item-card
  border-radius: 8px
  background: #2E0020
  padding: 15px 12px
  font-size: 14px
  line-height: 1.3
  color: #fff
  height: 100%
  display: flex
  a
    color: #fff
  .card-name
    margin-bottom: 13px
  .card-photo
    margin-bottom: 15px
  .card-left
    width: 36.2%
  .card-info
    width: 63.8%
    padding: 5px 0 0 24px
  .card-row
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &.is-set-sell
    background: #94100F
    .button-sell
      background: #2E0020

+desktop
  .list-card
    display: flex
    flex-wrap: wrap
    margin: 0 -7px
    .item-card
      width: calc(100% / 3 - 14px)
      margin: 7px
@media only screen and (max-width: 1024px) and (min-width: $base-sm-break + 1)
  .list-card
    .item-card
      width: calc(100% / 2 - 14px)

+mobile
  .list-tab-button
    margin: 0 -5px 30px
    &>li
      width: calc(100% / 2 - 10px)
      margin: 0 5px
  .list-card
    .item-card
      height: auto
      margin-bottom: 15px
  .item-card .card-info
    padding-left: 10px
  .box-fishing-group
    height: 250px