@charset "utf-8"

.section-login
  min-height: 100vh
  padding: 282px 20px 115px
  .box-common
    max-width: 778px
    margin: 0 auto
    padding: 25px 98px 40px
  .photo
    width: 214px
    margin: -138px auto 30px
    display: block
  .title
    font-size: 34px
    text-align: center
    color: #fff
    margin-bottom: 10px

.text-input-control
  height: 76px
  font-size: 18px
  background: none
  padding: 0
  appearance: none
  -webkit-appearance: none
  box-shadow: none
  border-radius: 0
  line-height: inherit
  font-family: inherit
  border: none
  border-bottom: 1px solid #0569FF
  display: block
  width: 100%
  color: #fff

.button-submit
  width: 276px
  height: 96px
  display: flex
  justify-content: center
  align-items: center
  background: url(../img/btn_07.png) no-repeat 0 0
  font-size: 33px
  color: #fff
  border: none
  box-shadow: none
  appearance: none
  padding-bottom: 22px
  cursor: pointer
  text-align: center
  margin: 60px auto 0
button.button-submit
  display: block

.text-input-control::-webkit-input-placeholder
  color: #fff
  opacity: 1

.text-input-control:-ms-input-placeholder
  color: #fff
  opacity: 1

.text-input-control::placeholder
  color: #fff
  opacity: 1

.login-text
  color: #569AFF
  font-size: 18px
  text-align: center
  margin: 26px 0 52px
  .line
    padding: 0 15px 0 10px
  a
    color: #569AFF
.list-login
  &>li
    margin-bottom: 22px
    &:last-child
      margin-bottom: 0

+mobile
  .section-login
    padding: 110px 20px 60px
    .box-common
      padding: 25px 20px 30px
    .photo
      width: 120px
      margin: -85px auto 30px
    .title
      font-size: 25px
  
  .text-input-control
    height: 56px
    font-size: 16px
  
  .button-submit
    width: 193px
    height: 67px
    background-size: 100% auto
    font-size: 20px
    padding-bottom: 10px
    margin-top: 40px
  .login-text
    font-size: 15px
    margin-bottom: 20px