@charset "utf-8"

.copy-addon
  position: relative
  .text-box
    display: flex
    width: 100%
    align-items: center
    color: #BFBFBF
    &.icon-link
      background-image: url(../img/icon_link.png)
      background-position: left 10px center
      background-repeat: no-repeat
  .button-addon
    appearance: none
    -webkit-appearance: none
    box-shadow: none
    border: none
    position: absolute
    right: 0
    top: 0
    display: block
    height: 100%
    color: #CCD0ED
    border-radius: 0 5px 5px 0
    background: #3343B8 url(../img/icon_copy.png) no-repeat left 27px center/14px auto
    text-align: left
    cursor: pointer


.text-box
  height: 45px
  background: #0D1F83
  padding: 0 22px
  appearance: none
  -webkit-appearance: none
  box-shadow: none
  border-radius: 5px
  line-height: inherit
  font-family: inherit
  border: none
  font-size: 16px
  display: block
  width: 100%
  color: #fff


.text-box::-webkit-input-placeholder
  color: #BFBFBF
  opacity: 1

.text-box:-ms-input-placeholder
  color: #BFBFBF
  opacity: 1

.text-box::placeholder
  color: #BFBFBF
  opacity: 1

.box-member
  .column-left
    background: #0014A6

.list-link
  &>li:not(:last-child)
    border-bottom: 1px solid #fff
  a
    display: block
    padding: 14px 0 14px 50px
    background: no-repeat 0 center
    color: #fff
    &.is-active
      color: #7CF331
  .icon01
    background-image: url(../img/icon_09.png)
    background-size: 25px auto
    &.is-active
      background-image: url(../img/icon_10.png)
  .icon02
    background-image: url(../img/icon_11.png)
    background-size: 34px auto
    &.is-active
      background-image: url(../img/icon_08.png)

.form-common
  color: #fff
  .form-change
    margin-top: 25px
  .form-row01
    margin-bottom: 33px
  .form-column
    padding: 0 5px
  .form-title
    font-size: 18px
    margin-bottom: 26px
  .form-head
    margin-bottom: 10px
  .button-history
    margin-top: 47px

+desktop
  .common-heading
    display: flex
    justify-content: space-between
    padding-right: 10px
    .copy-addon
      width: 560px
      margin-top: 30px
  .copy-addon
    .text-box
      padding-right: 134px
      &.icon-link
        background-size: 23px auto
        padding-left: 60px
    .button-addon
      width: 134px
      padding-left: 54px

  .box-member
    display: flex
    .column-left
      width: 370px
      border-radius: 10px 0 0 10px
      padding: 55px 31px 45px 45px
    .column-right
      width: calc(100% - 370px)
      padding: 55px 20px 45px 37px
      border-radius: 0 10px 10px 0

  .list-link
    font-size: 22px

  .form-common
    width: 566px
    .form-row
      display: flex
      margin: 0 -5px 28px
    .form-column
      width: 50%
      padding: 0 5px

@media only screen and (max-width: 1064px) and (min-width: $base-sm-break + 1)
  .box-member
    .column-left
      width: 240px
      padding: 55px 20px 20px 20px
    .column-right
      width: calc(100% - 240px)
      padding: 55px 20px 20px 20px
  .form-common
    width: 100%

@media only screen and (max-width: 1024px) and (min-width: $base-sm-break + 1)
  .common-heading
    display: block
    padding-right: 0
    margin-bottom: 40px
    .copy-addon
      width: 560px
      margin-top: 0

+mobile
  .common-heading
    margin-bottom: 40px
  .copy-addon
    .text-box
      padding-right: 75px
      font-size: 14px
      +mobile-xs
        font-size: 12px
      &.icon-link
        background-size: 18px auto
        padding-left: 35px
    .button-addon
      width: 70px
      padding-left: 22px
      font-size: 13px
      background-position: left 7px center
      background-size: 10px

  .box-member
    .column-left
      border-radius: 10px 10px 0 0
      padding: 20px 15px
    .column-right
      padding: 20px 15px 40px

  .list-link
    font-size: 18px

  .text-box
    padding-left: 15px
    padding-right: 15px

  .form-common
    .form-row
      margin-bottom: 15px
    .form-column
      margin-bottom: 15px
      padding: 0
      &:last-child
        margin-bottom: 0

.tree-view
  min-height: 50vh
  color: #fff
  font-size: 16px
  line-height: 1.75
  .title-tree
    font-size: 18px
    font-weight: bold
    margin-bottom: 25px

.tree-view-wrap
  overflow-x: auto
  margin-top: 25px
  overflow-y: hidden
  .list-tree
    position: relative
    &:before
      content: ""
      width: 1px
      height: 8px
      background: #030047
      position: absolute
      left: 20px
      top: 0
      z-index: 2
      opacity: .82
    &>li
      &:last-child
        &:after
          top: -1000000px
  ul
    white-space: nowrap
    padding-left: 1em
    .last
      border-bottom: none
    li
      position: relative
      padding-left: 1.5em
      &:before
        content: ''
        width: 10px
        height: 10px
        position: absolute
        top: 8px
        left: 0
        z-index: 10
        background: #00AEEF
        border-radius: 50%
      p
        span
          cursor: pointer

    li.is-collapsed
      &:before
        background: #00AEEF url(../img/treeview_on.png) 50% 50% no-repeat
        background-size: 100% auto
    li.is-expanded
      &:before
        background: #00AEEF url(../img/treeview_off.png) 50% 50% no-repeat
        background-size: 100% auto

    li > ul
      position: relative
      // &:before
      //   content: ''
      //   position: absolute
      //   left: 1.3em
      //   top: 10px
      //   width: 1px
      //   bottom: 12px
      //   background: #00AEEF
      // &>li:first-child
      //   &:after
      //     content: ""
      //     position: absolute
      //     left: -36px
      //     top: -12px
      //     width: 38px
      //     bottom: 14px
      //     border-left: 1px solid #00AEEF
      //     border-bottom: 1px solid #00AEEF
    li + li
      &:after
        content: ''
        position: absolute
        left: 4px
        top: -14px
        bottom: 13px
        width: 1px
        background: #00AEEF


    .none:after
      opacity: 0
    li.none:last-child
      &:after
        bottom: 100%
        margin-bottom: -13px
    li + li.none
      &:after
        opacity: 1
.success-01
  padding-top: 64px
  .size
    font-size: 20px
    margin-bottom: 20px
  .tab-popup
    font-size: 18px
    min-height: 99px
    padding: 0 20px 5px
    text-align: left
  .button-close-success
    margin-top: 25px
    font-size: 26px
.tab-ham-bat
  display: flex
  justify-content: center
  margin-bottom: 15px
  &>li
    width: 166px
    margin: 0 10px
  a
    display: flex
    justify-content: center
    align-items: center
    width: 166px
    height: 48px
    font-size: 24px
    color: #fff
    padding-left: 33px
  .ham
    background: url(../img/bg_ham.png) no-repeat center center
  .bat
    background: url(../img/bg_bat.png) no-repeat center center

+mobile
  .success-01
    padding-top: 20px
    .button-close-success
      margin-top: 10px
      font-size: 15px
  .tab-ham-bat a
    background-size: 100% auto !important
    font-size: 14px
    width: 100%
    height: 30px
    padding-left: 25px
  .tab-ham-bat
    margin-bottom: 15px
    &>li
      width: 48%
      margin: 0 5px
  .success-01 .tab-popup
    font-size: 13px

.wrap-congratulations
  display: none
.congratulations-photo
  width: 303px
  margin: 58px auto 50px
  animation: shake 1s
  animation-iteration-count: infinite
  +mobile
    width: 160px
    margin: 45px auto 25px

@keyframes shake
  0%
    transform: translate(1px, 1px) rotate(0deg)
  10%
    transform: translate(-1px, -2px) rotate(-1deg)
  20%
    transform: translate(-3px, 0px) rotate(1deg)
  30%
    transform: translate(3px, 2px) rotate(0deg)
  40%
    transform: translate(1px, -1px) rotate(1deg)
  50%
    transform: translate(-1px, 2px) rotate(-1deg)
  60%
    transform: translate(-3px, 1px) rotate(0deg)
  70%
    transform: translate(3px, 1px) rotate(-1deg)
  80%
    transform: translate(-1px, -1px) rotate(1deg)
  90%
    transform: translate(1px, 2px) rotate(0deg)
  100%
    transform: translate(1px, -2px) rotate(-1deg)
