@charset "utf-8"

.list-notice
  &>li
    margin-bottom: 10px
.item-notice
  background: #384663
  font-family: Myriad Pro, Arial, Helvetica, sans-serif
  color: #fff
  &.is-notice
    background: #002b8a

+desktop
  .item-notice
    display: flex
    width: 100%
    padding: 20px 34px
    font-size: 18px
    .notice-time
      width: 200px
      padding-right: 20px
    .notice-content
      width: calc(100% - 200px)

  .button-history.is-more
    font-size: 35px
+mobile
  .item-notice
    padding: 15px 20px
    font-size: 16px
  .button-history.is-more
    font-size: 30px