@charset "utf-8"


.section-common
  padding-bottom: 50px
.box-common
  border-radius: 10px
  background: rgba(3,0,71,.74)
.box-shop
  padding: 32px 20px 118px
+desktop
  .list-box
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    .item-prod
      margin: 120px 31px 0
.box-item
  width: 274px
  height: 326px
  position: relative
  padding: 108px 25px 50px
  color: #fff
  font-size: 18px
  line-height: 1.2
  background: url(../img/bg_box.png) no-repeat center 0/100% auto    
  .icon
    position: absolute
    width: 160px
    left: 50%
    transform: translateX(-50%)
    top: -72px
  .name
    font-size: 28px
    margin-bottom: 25px
  .price
    color: #F7FF1F
  .text
    margin-top: 8px
  
  .button-buy,
  .button-usd,
  .total-point
    display: flex
    justify-content: center
    align-items: center
    appearance: none
    -webkit-appearance: none
    box-shadow: none
    border-radius: 0
    cursor: pointer
  .button-usd
    width: 95px
    height: 35px
    color: #fff
    background: url(../img/bg_usd.png) no-repeat center center/100% auto
    padding-left: 48px
    position: relative
    justify-content: flex-start
    &.icon-bat:before
      background-image: url(../img/icon_usd_01.png)
    &:before
      content: ''
      position: absolute
      left: 10px
      top: 50%
      transform: translateY(-50%)
      width: 34px
      height: 36px
      background: url(../img/icon_usd.png) no-repeat center center/100% auto
    &.icon-none
      padding-left: 0
      text-align: center
      justify-content: center
      &:before
        display: none
  .button-buy
    width: 70px
    height: 42px
    background: url(../img/btn_buy.png) no-repeat center center/100% auto
    font-size: 19.7px
    color: #FF5200
  .icon-plus
    width: 42px
    height: 36px
    background: url(../img/icon_plus.png) no-repeat center center/100% auto
    margin: 0 15px 0 6px
  .total-point
    width: 55px
    height: 35px
    background: url(../img/bg_point.png) no-repeat center center/100% auto
    margin: 0 5px
    font-size: 18px
    font-weight: bold
    color: #fff
    text-align: center
  .group-button
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    left: 0
    bottom: -15px
    width: 100%

.button-level
  width: 152px
  height: 55px
  background: url(../img/btn_03.png) no-repeat center center/100% auto
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: -23px
  font-size: 20px
  color: #533700
  margin-left: 7px
  padding-bottom: 10px
  display: flex
  justify-content: center
  align-items: center
  appearance: none
  -webkit-appearance: none
  box-shadow: none
  border-radius: 0
  cursor: pointer
  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url(../img/btn_02.png) no-repeat center center/118px auto

.button-history
  width: 330px
  height: 115px
  margin: 50px auto 0
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  font-size: 26px
  line-height: 1.2
  text-align: center
  background: url(../img/btn_01.png) no-repeat center center/100% auto
  padding-bottom: 15px
  cursor: pointer
  +mobile-xs
    width: 290px
    height: 98px
    font-size: 20px
  &.is-history-small
    width: 210px
    height: 75px
    background-image: url(../img/btn_06.png)
    font-size: 34px
    margin: 0 auto
    +mobile
      font-size: 30px
    +mobile-xs
      font-size: 20px
      width: 180px
      height: 64px
@media only screen and (max-width: 480px)
  .box-shop
    padding-top: 20px
    padding-bottom: 80px
  .box-item
    padding-top: 90px
    font-size: 16px
  .box-item .icon
    width: 130px
    top: -50px
  .box-item .name
    font-size: 20px
    margin-bottom: 15px

.box-success
  background: url(../img/bg_success.png) no-repeat 0 0/100% auto
  margin: 0 auto
  .success-name
    line-height: 1.2
    color: #fff
    text-align: center
+desktop
  .box-success
    width: 485px
    height: 582px
    padding: 82px 15px 15px
    .success-photo
      width: 214px
      margin: 0 auto 22px
    .success-name
      font-size: 40px
      margin-bottom: 40px

+mobile
  .box-shop
    padding-bottom: 30px
  .box-success
    width: 260px
    height: 312px
    padding: 40px 15px 15px
    .success-photo
      width: 107px
      margin: 0 auto 10px
    .success-name
      font-size: 20px
      margin-bottom: 20px
  .list-box
    width: 274px
    margin: 0 auto
    .item-prod
      padding: 90px 5px 50px
      outline: none
  .box-item
    width: 264px
  .slick-arrow
    padding: 0
    display: block
    width: 24px
    height: 36px
    background: no-repeat center center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    text-indent: -1000px
    overflow: hidden
    &.slick-prev
      background-image: url(../img/btn_prev.png)
      left: -25px
    &.slick-next
      background-image: url(../img/btn_next.png)
      right: -25px

+mobile-xs
  .list-box
    width: 250px
  .box-item
    height: 288px
    width: 240px

.modal-dialog-box
  background: #fff
  max-width: 1140px
  margin: 0 auto
  border-radius: 10px
  .modal-header
    padding: 15px
    border-bottom: 1px solid #e5e5e5
    font-family: "Muli", sans-serif
  .modal-body
    padding: 15px
  .modal-footer
    padding: 15px
    border-top: 1px solid #e5e5e5
    text-align: right

.box-history
  
.lightbox-history
  padding: 50px 10px

.mobal-close-common
  display: inline-block
  padding: 3px 12px
  font-size: 16px
  line-height: 1.43
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  background: rgba(239,239,239,1)

.table-data
  width: 100%
  border: 1px solid #ddd
  font-size: 16px
  th
    background-color: f2f2f2
    border-bottom: 0
    color: #636363
    font-weight: 400
    padding: 15px 10px
  thead
    background-color: #f4fbfb
    color: #9d9d9d
    border: 1px solid #c2dde9
    border-bottom-color: #ddd
    font-weight: 500
    th
      border-top: none
      border-left: 1px solid #ddd
      &:first-child
        border-left: none
  th,
  td
    border: none
    text-align: center
  td
    padding: 0 10px
  tbody
    tr
      border-bottom: 1px solid #ddd

+mobile
  .table-data
    th,
    td
      white-space: nowrap
  .inner-over
    overflow-x: auto
    -webkit-overflow-scrolling: touch
.image-common
  display: block
  width: 100%


.item-tank
  background: #001645
  .tank-image
    position: relative
    img
      position: relative
      z-index: 0
  .tank-info
    padding: 5px 15px 10px
    color: #fff
    position: relative
  .name
    font-size: 18px
    margin-bottom: 5px
  .desc
    padding-right: 120px
    line-height: 1.55
  .button-level
    width: 110px
    height: 40px
    position: absolute
    right: 10px
    bottom: 12px
    left: auto
    font-size: 14px
    transform: translateX(0)

.title-tank
  text-align: center
  color: #fff
  margin-bottom: 14px

+desktop
  .box-tank
    padding: 70px 20px 35px
  .list-tank
    display: flex
    flex-wrap: wrap
    justify-content: center
    
    .item-slide-tank
      width: 288px
      margin: 0 26px 26px

  .title-tank
    font-size: 34px
  .row-tank
    margin-top: 12px

+mobile
  .row-tank
    margin-top: 25px
  .box-tank
    padding: 50px 20px
  .list-tank
    width: 308px
    margin: 0 auto
    
    .item-slide-tank
      padding: 0 10px

  .title-tank
    font-size: 28px
@media only screen and (max-width: 400px)
  .list-tank
    width: 288px

+mobile-xs
  .list-tank
    width: 250px
