@charset "utf-8"

.item-fish
  background: url(../img/bg_box_02.png) no-repeat 0 0
  color: #fff
  line-height: 1.55
  display: flex
  align-items: center
  padding: 20px
  .fish-content
    padding-left: 15px
  .fish-name
    line-height: 1.3

+desktop
  .box-fish
    padding: 62px 17px 25px
  .list-fish
    display: flex
    flex-wrap: wrap
    &>li
      width: 353px
      margin: 0 0 26px 22px
      &:nth-child(3n + 1)
        margin-left: 0
  .item-fish
    width: 353px
    height: 228px
    font-size: 18px
    padding: 20px
    .fish-photo
      width: 128px
    .fish-content
      width: calc(100% - 128px)
    .fish-name
      font-size: 28px
      margin-bottom: 20px

@media only screen and (max-width: 1180px) and (min-width: $base-sm-break + 1)
  .list-fish
    width: auto
    max-width: 728px
    margin: 0 auto
    &>li
      margin-right: 22px
      margin-left: 0
      &:nth-child(2n)
        margin-right: 0

@media only screen and (max-width: 850px) and (min-width: $base-sm-break + 1)
  .list-fish
    &>li
      margin-right: 0
      margin-left: 0
      width: 50%
      padding: 0 5px
  .item-fish
    width: 100%
    background-size: 100% 100%

+mobile
  .box-fish
    padding: 30px 20px
  .list-fish
    max-width: 353px
    margin: 0 auto
    &>li
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .item-fish
    max-width: 353px
    height: 228px
    font-size: 18px
    padding: 20px
    background-size: 100% 100%
    .fish-photo
      width: 128px
    .fish-content
      width: calc(100% - 128px)
    .fish-name
      font-size: 28px
      margin-bottom: 20px

@media only screen and (max-width: 430px)

  .item-fish
    font-size: 16px
    height: 210px
    .fish-photo
      width: 100px
    .fish-content
      width: calc(100% - 100px)
    .fish-name
      font-size: 20px
      margin-bottom: 10px

+mobile
  .item-fish
    .fish-photo
      width: calc(100% - 170px)
    .fish-content
      width: 170px
  .item-fish .fish-name
    font-size: 18px