@charset "utf-8"
.box-wallet
  color: #fff
.list-tabs
  line-height: 1.2
  text-align: center
  display: flex
  position: relative
  margin: -18px -20px 0
  border-radius: 10px 10px 0 0
  overflow: hidden
  padding-bottom: 1px
  &:before,
  &:after
    content: ''
    position: absolute
  &:before
    border-bottom: 1px solid #002fca
    left: 20px
    right: 20px
    bottom: 1px
  &:after
    border-left: 1px solid #002fca
    top: 18px
    left: 50%
    bottom: 16px
  &>li
    width: 50%
    padding-left: 1px
    &:nth-child(1)
      .is-active
        background: url(../img/bg_tab_01.png) no-repeat 0 0/cover
    &:nth-child(2)
      .is-active
        background: url(../img/bg_tab_02.png) no-repeat 0 0/cover
    &:first-child
      padding-left: 0
  a
    color: #FFEA82
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    padding: 6px
  .is-active
    color: #5BF8FF

.wallet-title
  color: #FFEA82
.coin-text
  line-height: 1.6

.is-yellow
  color: #EAFF1A
.coin-recharge
  color: #FF010F
  font-size: 14px
.coin-row
  margin-bottom: 20px
  .coin-input
    position: relative
  .text
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 18px
  .coin-number
    .is-yellow
      padding: 0 8px 0 12px
.coin-code
  .code
    width: 80px
.coin-photo
  width: 80px
.coin-copy
  position: relative

.copy-button
  position: absolute
  width: 50px
  right: 15px
  top: 1px
  height: 56px
  background: url(../img/icon_copy.png) no-repeat center center/26px auto
.deposit-row
  margin-bottom: 27px
  .wallet-title
    margin-bottom: 22px
  .select
    margin-bottom: 15px
  .coin-text
    margin-bottom: 3px
.select
  background: #EAFF1A url(../img/icon_select.png) no-repeat right 15px center/12px auto
  border-radius: 20px
  height: 38px
  padding: 0 30px 0 15px
  font-size: 18px
  line-height: inherit
  display: block
  width: 214px
  white-space: nowrap
  border: none
  +appearance(none)
  &::-ms-expand
    display: none

.text-input
  background: #002E93
  border-radius: 28px
  font-size: 19px
  color: #fff
  line-height: inherit
  font-family: inherit
  border: none
  width: 100%
  outline: none
  +appearance(none)
  box-shadow: none
  display: block
  padding: 0 28px
  height: 56px
span.text-input
  display: flex
  align-items: center
button.text-input
  background: #EAFF1A
  color: #002E93
  cursor: pointer
  font-size: 30px
  font-family: "Paytone One", sans-serif
  width: 214px
  margin-bottom: 30px
  padding: 0 10px 5px !important
  +mobile
    width: 100%

.text-input::-webkit-input-placeholder
  color: #70D1FF
  opacity: 1
  font-size: 15px
  padding-bottom: 3px
  display: block

.text-input:-ms-input-placeholder
  color: #70D1FF
  opacity: 1
  font-size: 15px
  padding-bottom: 3px
  display: block

.text-input::placeholder
  color: #70D1FF
  opacity: 1
  font-size: 15px
  padding-bottom: 3px
  display: block

.list-number
  counter-reset: counter
  line-height: 1.375
  &>li
    padding-left: 16px
    position: relative
    &:before
      content: counter(counter)'.'
      counter-increment: counter
      position: absolute
      right: 100%
      margin-right: -12px
      top: 0

.tab-withdraw
  .withdraw-row
    margin-bottom: 30px
    .wallet-title
      margin-bottom: 5px
  .withdraw-quantity
    margin-bottom: 20px
    .wallet-title
      margin-bottom: 8px

+desktop
  .box-wallet
    padding: 18px 20px 36px
    .list-number
      margin-left: 12px
  .list-tabs
    font-size: 40px
    a
      height: 94px

  .wallet-content
    padding: 35px 12px
  .coin-text
    font-size: 19px
  .coin-row
    display: flex
    align-items: center
    .coin-input
      width: 195px
    .text-input
      padding-right: 55px
    .coin-number
      padding-left: 20px
      .is-yellow
        padding: 0 8px 0 12px
  .coin-code
    display: flex
    align-items: flex-start
    .text-input
      width: 444px
    .code
      margin: -15px 0 0 50px
  .coin-photo
    margin: -18px 0 0 50px
  .tab-withdraw
    .coin-photo
      margin-top: -12px
  .withdraw-text
    font-size: 19px
  .coin-withdraw
    .coin-input
      margin-right: 10px
    .withdraw-column
      width: 422px
      .text-input
        padding-right: 28px
@media only screen and (max-width: 1024px) and (min-width: $base-sm-break + 1)
  .coin-withdraw
    .withdraw-column
      width: 300px
    .coin-photo
      margin-left: 20px
+mobile
  .box-wallet
    padding: 18px 20px 36px
  .list-tabs
    font-size: 20px
    a
      height: 70px

  .wallet-content
    padding: 20px 0
  .coin-text
    font-size: 19px
  .coin-row
    .coin-input
      margin-bottom: 15px
    .text-input
      padding-right: 55px
    .coin-number
      text-align: center
  .coin-number
    font-size: 20px
  .coin-code
    .text-input
      width: 100%
      padding-right: 40px
      margin-bottom: 15px
  .coin-photo
    margin: 0 auto
  .text-input
    font-size: 15px
    padding-left: 15px
  .copy-button
    width: 30px
    background-size: 18px auto
    right: 10px

  .tab-withdraw
    .button-request
      margin: 0 auto
  .withdraw-text
    font-size: 16px
  .coin-withdraw
    .coin-input
      margin-right: 0
    .withdraw-column
      width: 100%
      margin-bottom: 15px
      .text-input
        padding-right: 15px

+mobile-xs
  .list-tabs
    font-size: 16px
    a
      height: 60px
  .text-input
    font-size: 13px
    padding-left: 15px