@charset "utf-8"
.list-box
  .item-fishing
    outline: none

.box-fishing
  background: url(../img/bg_box_01.png) no-repeat center center
  position: relative
  text-align: center
  color: #fff
  line-height: 1.5
  .fishing-photo
    position: absolute
    left: 50%
    transform: translateX(-50%)
    img
      width: 100%
      display: block
  .fishing-text
    color: #FFEA82
  .button-default
    position: absolute
    left: 50%
    transform: translateX(-50%)
    
+desktop
  .box-whalefishing
    padding: 40px 20px 110px
  .box-fishing
    width: 326px
    height: 272px
    padding: 132px 20px 25px
    .fishing-photo
      width: 302px
      top: -60px
    .fishing-text
      font-size: 18px
    .fishing-name
      font-size: 30px
    .button-default
      bottom: -18px
  .list-box
    .item-fishing
      margin: 100px 15px 0
  
+mobile
  .box-whalefishing
    padding: 40px 10px 50px
  .box-fishing
    width: 264px
    height: 229px
    background-size: contain
    padding: 92px 20px 25px
    .fishing-photo
      width: 220px
      top: -60px
    .fishing-text
      font-size: 16px
    .fishing-name
      font-size: 25px
    .button-default
      bottom: -18px
  .list-box
    .item-fishing
      padding: 70px 5px 25px
+mobile-xs
  .box-fishing
    width: 240px
    height: 200px
    padding-top: 74px
    .fishing-photo
      width: 180px
      top: -40px
    .fishing-text
      font-size: 14px
    .fishing-name
      font-size: 20px
  .list-box
    .item-fishing
      padding: 40px 5px 25px

.success-fish
  position: relative
  text-align: center
  color: #fff
  .success-photo
    margin-bottom: 16px
  .btn-close
    width: 116px
    height: 100px
    position: absolute
    right: -28px
    top: -14px
    background: url(../img/btn_close.png) no-repeat center center/100% auto
  .success-text
    font-size: 20px
    line-height: 1.2
    max-width: 366px
    margin: 0 auto 13px
  .success-desc
    font-size: 18px
    margin-bottom: 28px
  .quantity-wrap
    width: 245px
    margin: 0 auto 25px
    display: flex
    align-items: center
    justify-content: center
    .spin
      width: 49px
      height: 41px
      background: no-repeat center center/100% auto
    .button-minus
      background-image: url(../img/btn_prev_02.png)
    .button-plus
      background-image: url(../img/btn_next_02.png)
    .over
      overflow: hidden
      margin: 0 5px
      .quantity-text-number
        margin: 0 -20px
    .quantity-text-number
      width: 174px
      height: 48px
      background: url(../img/bg_number.png) no-repeat center center/auto 100%
      font-size: 30px
      line-height: 1
      
      padding-left: 10px
      color: #fff
      -moz-appearance: textfield
      appearance: none
      -webkit-appearance: none
      box-shadow: none
      text-align: center
      padding-bottom: 5px
      
.quantity-text-numberinput::-webkit-outer-spin-button,
.quantity-text-numberinput::-webkit-inner-spin-button
  display: none
  -webkit-appearance: none
    
+mobile
  .success-fish
    padding-top: 20px
    .success-photo
      width: 60px
      margin-bottom: 10px
    .btn-close
      width: 40px
      height: 40px
      right: -5px
      top: -5px
    .success-text
      font-size: 16px
      margin-bottom: 8px
    .success-desc
      font-size: 14px
      margin-bottom: 10px
      line-height: 1.4
    .quantity-wrap
      width: auto
      margin: 0 auto 10px
      .spin
        width: 40px
        height: 40px
      .over
        .quantity-text-number
          margin: 0 -15px
      .quantity-text-number
        width: 150px
        height: 42px
        font-size: 20px
        padding-left: 5px
        padding-bottom: 2px