extends ../_layouts/default

block vars
  -title        = 'Shrimp'
  -description  = ''
  -keywords     = ''
  -pageID       = 'shrimp'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li Shop
      .box-common.box-shop
        .list-box.js-slider
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_shrimp.png", alt="shrimp")
                h2.name.ft-paytone Bait Shrimp
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                .group-button
                  p.button-usd.icon-none 300
                  .icon-plus
                  button.button-buy.js-open-lightbox.ft-paytone.trans(type="button" data-lightbox="modal-success") BUY
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_fish.png", alt="fish")
                h2.name.ft-paytone Bait Fish
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                button.button-level.ft-paytone.trans(type="button") Level 4 Open
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_cuttle.png", alt="cuttle")
                h2.name.ft-paytone Bait Squid
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                button.button-level.ft-paytone(type="button") Level 7 Open
      .row-tank
        h2.title-tank.ft-paytone Fish tank
        .box-common.box-tank
          .list-tank.js-slider
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-101
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 3 Open
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-102
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 5 Open
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-103
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 7 Open

    a.button-history.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-history") 
      span History<br>Buy and Sell
  
  .js-lightbox-popup.lightbox-content.lightbox-success.js-popup-congratulations(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success.success-fish.success-01
          .btn-close.js-close-congratulations(href="javascript:;")
          .wrap-tab.js-payment
            .success-photo
              img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
            p.success-name.size.ft-paytone PAYMENT
            ul.tab-ham-bat.js-tabs
              li
                a.trans.bat(href="#bat") With BAT
              li
                a.trans.ham(href="#ham") With HAM
            .tab-popup.is-yellow#bat
              p The BAT you need to pay is: 1The number of bait you get: 40
            .tab-popup.is-yellow#ham
              p Buy bait with HAM you will get preferential: + 20% of bait<br>The HAM you need to pay is: 9.9009901<br>The number of bait you get: 48
            a.button-close-success.ft-paytone.js-purchased(href="javascript:;") Purchased
          .wrap-congratulations.js-congratulations
            .congratulations-photo
              img(src=path+"/img/icon.png", alt="Success buy Shrimp")
            p.success-name.ft-paytone Congratulations
        
  
  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close