extends ../_layouts/default

block vars
  -title        = 'Nextwork'
  -description  = ''
  -keywords     = ''
  -pageID       = 'nextwork'
  -path         = '..'

block container
  section.section-common
    .wrapper
      .common-heading
        h2.title-default.ft-paytone Member infomation
        .heading-right
          .copy-addon
            span.text-box.icon-link htpss://bancalon.com/ref=hoangle
            button.button-addon.ft-paytone.trans(type="button") COPY
      .box-common.box-member
        .column-left
          ul.list-link.ft-paytone
            li
              a.icon01.trans(href=path+"/member/") Hồ sơ
            li
              a.icon02.trans.is-active(href=path+"/network/") Network
        .column-right.tree-view
          h3.title-tree.ft-paytone Tree VIew
          p Doan van nho nhan xinh xan gioi thieu cai tree view
          .tree-view-wrap
            ul.list-tree
              li.is-expanded.none
                p <span>User ID - Lv: 1 </span>
                ul
                  li
                    p <span>User ID - Lv: 1</span>
                  li
                    p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li.is-expanded.none
                        p <span>User ID - Lv: 1</span>
                        ul
                          li
                            p <span>User ID - Lv: 1</span>
                          li.is-expanded.none
                            p <span>User ID - Lv: 1</span>
                            ul
                              li
                                p <span>User ID - Lv: 1</span>
                              li
                                p <span>User ID - Lv: 1</span>
                      li.is-expanded.none
                        p <span>User ID - Lv: 1</span>
                        ul
                          li
                            p <span>User ID - Lv: 1</span>
                          li.is-expanded.none
                            p <span>User ID - Lv: 1</span>
                            ul
                              li
                                p <span>User ID - Lv: 1</span>
                              li
                                p <span>User ID - Lv: 1</span>
              li.is-expanded.none
                p <span>User ID - Lv: 1 </span>
                ul
                  li
                    p <span>User ID - Lv: 1</span>
                  li
                    p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
