@charset "utf-8"


/* COMMON HEADER
 * -----------------------------------------------*/

header
  background: rgba(44,0,53,.45)
  position: relative
  z-index: 88
  .wrapper
    max-width: 100%
  .header
    &-logo
      width: 310px
    &-inner
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 66px 0 54px
    &-left,
    &-right
      display: flex
      align-items: center
    &-group
      display: flex
      align-items: center
    &-avatar
      width: 64px
      margin-left: 20px
      a
        display: block
      img
        display: block
    &-name
      font-size: 14px
      font-weight: bold
      color: #fff
      font-family: 'Muli', sans-serif
      text-align: right
    &-link
      font-size: 18px
      line-height: 1
      white-space: nowrap
      color: #FFEA82
      display: flex
      align-items: center
      justify-content: flex-end
      .line
        padding: 0 10px
      a
        color: #FFEA82
        display: block
    &-text
      background: #f44336
      border-radius: 20px
      color: #fff
      font-size: 14px
      line-height: 1.2
      padding: 5px 20px 4px
      margin-top: 5px
      text-align: center
      +mobile
        font-size: 16px
        padding-bottom: 3px

.list-system
  display: flex
  align-items: center
  margin-left: 20px
  &>li
    margin-left: 13px
  a
    display: block
    width: 40px
    height: 40px
    background: no-repeat 0 0/100% auto
  .icon-wallet
    background-image: url(../img/icon_wallet.png)
  .icon-notify
    position: relative
    background-image: url(../img/icon_notify.png)
    span
      width: 14px
      height: 14px
      border-radius: 100%
      border: 2px solid #fff
      content: ''
      position: absolute
      right: -2px
      top: -4px
      background: #f44336
      display: block

.navigation
  margin-left: 120px
  .navigation
    &-menu
      font-size: 16px
      display: flex
  .navigation-menu
    a
      color: #fff
      display: flex
      align-items: center
      padding: 0 32px
      height: 100px
      white-space: nowrap
      &:hover,
      &.is-current
        background: url(../img/bg_nav.png) repeat-x 0 0/auto 100%
    .icon-home
      position: relative
      padding-left: 60px
      display: block
      &:before
        content: ''
        position: absolute
        width: 38px
        height: 32px
        background: url(../img/icon_home.png) no-repeat 0 0/auto 100%
        left: 0
        top: 50%
        transform: translateY(-50%)

.navigation-point
  background: rgba(0,1,13,.7)
  padding: 15px 0
  .wrapper
    display: flex
    align-items: center
    justify-content: center
    max-width: none
.power-group
  margin-left: 20px
  padding: 4px 0 0 60px
  font-size: 14px
  line-height: 1
  color: #fff
  position: relative
  &::before
    content: ''
    width: 60px
    height: 60px
    top: 50%
    transform: translateY(-50%)
    left: 0
    background: url(../img/icon_05.png) no-repeat 0 center/50px auto
    position: absolute
  .power
    font-size: 18px
    line-height: 1
    margin-bottom: 5px
  .power-text
    margin-right: .4em
    color: #C8FF0F
.list-point
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: -5px
  &>li
    margin-right: 10px
    margin-bottom: 5px
  a
    display: block
    position: relative
    background: #005AC7
    border-radius: 20px
    font-size: 19px
    color: #fff
    padding: 4px 15px 3px 55px
    min-width: 110px
    overflow: hidden
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      height: 40px
      width: 60px
      background: no-repeat center center/100% auto
  .icon01:before
    background-image: url(../img/icon_01.png)
  .icon02:before
    background-image: url(../img/icon_02.png)
  .icon03:before
    background-image: url(../img/icon_03.png)
  .icon04
    min-width: 170px
    &:before
      left: -5px
      background-image: url(../img/icon_04.png)
  .icon05
    min-width: 170px
    &:before
      left: -5px
      background-image: url(../img/icon_07.png)

@media only screen and (max-width: 1630px) and (min-width: $base-sm-break + 1)
  header .header-inner
    padding: 0
  .navigation
    margin-left: 60px
  .navigation .navigation-menu a
    padding: 0 20px
  .list-system
    margin-left: 0
@media only screen and (max-width: 1500px) and (min-width: $base-sm-break + 1)
  .navigation-point .wrapper
    padding-right: 20px
  .list-point > li
    margin-right: 5px
@media only screen and (max-width: 1420px) and (min-width: $base-sm-break + 1)
  header .header-logo
    width: 220px
  .navigation
    margin-left: 20px
  .navigation .navigation-menu
    font-size: 15px
  .navigation .navigation-menu a
    padding: 0 15px
    height: 80px
  .navigation .navigation-menu .icon-home
    padding-left: 35px
    &:before
      width: 30px
      height: 25px
  .list-point a
    font-size: 16px
    padding-left: 40px
    padding-right: 15px
    min-width: 80px
  .list-point a:before
    width: 48px
    height: 30px
@media only screen and (max-width: 1090px) and (min-width: $base-sm-break + 1)
  header .header-logo
    width: 180px
  .navigation
    margin-left: 0

@media only screen and (max-width: 1040px) and (min-width: $base-sm-break + 1)
  .navigation-point .wrapper
    justify-content: space-between
    padding-right: 20px

@media only screen and (min-width: 1025px)
  .header-group
    position: absolute
    right: 195px
    top: 50%
    transform: translateY(-50%)
@media only screen and (max-width: 1630px) and (min-width: 1025px)
  .header-group
    right: 130px
@media only screen and (max-width: 1160px) and (min-width: $base-sm-break + 1)
  header .header-name
    font-size: 12px
    padding-top: 0
  header .header-link
    font-size: 14px
  header .header-avatar
    width: 40px
    margin-left: 10px
@media only screen and (max-width: 920px) and (min-width: $base-sm-break + 1)
  .navigation-point
    white-space: nowrap
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    padding: 10px 0
    &::-webkit-scrollbar
      height: 0
  .list-point
    margin: 0 20px 0 -5px
    flex-wrap: nowrap
    &>li
      margin-bottom: 0
@media print, (min-width: 1025px)
  .button-close
    display: none
  .overlay-menu
    display: none !important
@media only screen and (max-width: 1024px)
  header
    padding: 15px 0
  header .header-group
    padding: 0 15px
    margin-bottom: 15px
  header .header-avatar
    order: 1
    margin: 0 10px 0 0
  header .header-name
    text-align: left
  header .header-column
    order: 2
  header .header-link
    justify-content: flex-start
  .overlay-menu
    position: fixed
    z-index: 900
    left: 0
    width: 100%
    top: 0
    background: rgba(0, 1, 13, 0.7)
    display: none
    height: 100%
  header .header-avatar
    width: 64px
  .navigation
    position: fixed
    right: -320px
    width: 300px
    top: 0
    height: 100vh
    background: rgba(3,0,71,.9)
    padding: 50px 0
    overflow-y: auto
    z-index: 999
    transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1)
    &.is-show-block
      right: 0
  .navigation .navigation-menu
    display: block
  .navigation .navigation-menu a
    display: block
    height: auto
    padding: 15px
  .button-menu
    width: 30px
    height: 30px
    background: url(../img/btn_menu.png) no-repeat center center/100% auto
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
  .button-close
    width: 40px
    height: 40px
    position: absolute
    right: 5px
    top: 5px
    cursor: pointer
    background: url(../img/icon_close.png) no-repeat center center/20px auto
  header .header-right
    padding-right: 40px

@media only screen and (max-width: 1100px)

  .list-point a
    font-size: 16px
    padding-left: 35px
    padding-right: 10px
    min-width: 80px
  .list-point a:before
    width: 40px
    height: 26px
  .list-point .icon04,
  .list-point .icon05
    min-width: 80px
  .list-point > li
    margin-right: 5px



@media only screen and (max-width: 1024px) and (min-width: $base-sm-break + 1)
  .power-group
    font-size: 12px
    padding-left: 50px
    &:before
      width: 40px
      height: 40px
      background-size: 100% auto
  .power-group .power
    font-size: 14px
  .button-menu
    width: 40px
    height: 40px
  header .header-right
    padding-right: 54px

+mobile
  header .header-logo
    width: 160px
  header .header-inner
    padding: 0
  .button-menu
    right: 10px
  .list-system
    margin-left: 0
  .list-system a
    width: 30px
    height: 30px
  .list-system > li
    margin-left: 5px
  .navigation-point
    white-space: nowrap
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    padding: 10px 0
    &::-webkit-scrollbar
      height: 0
  .navigation-point .wrapper
    justify-content: space-between
    padding: 0 10px
  .list-point
    margin: 0 20px 0 -5px
    flex-wrap: nowrap
  .list-point > li
    margin: 0
    padding: 0 5px
  .power-group
    margin-bottom: 10px
    padding-right: 10px

+mobile-xs
  .navigation
    width: 260px