@charset "utf-8"
.breadcrumb
  font-size: 28px
  color: #fff
  display: flex
  flex-wrap: wrap
  padding: 23px 4px 33px
  &>li
    padding-right: .7em
    margin-right: .2em
    position: relative
    &:after
      content: '/'
      position: absolute
      right: 0
      top: 0
    &:last-child
      padding-right: 0
      &:after
        display: none
  a
    color: #fff

+mobile
  .breadcrumb
    font-size: 16px
    padding: 15px 0 22px

.is-no-scroll
  position: fixed !important
  width: 100%
  .lightbox-content
    overflow-y: auto
.lightbox-content
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 90992
  overflow: hidden
  background: rgba(0,2,22,.8)
  .popup-light-box
    width: 100%
    height: 100%
    padding: 0
    display: table
  .popup-light-box-cell
    display: table-cell
    vertical-align: middle
  

+mobile
  .lightbox-content
    width: 100%
  .js-no-scroll
    .lightbox-content
      -webkit-overflow-scrolling: touch
    
.button-close-success
  display: flex
  justify-content: center
  align-items: center
  color: #FF5200
  margin: 0 auto
  background: url(../img/btn_04.png) no-repeat center center/100% auto
  +desktop
    width: 175px
    height: 104px
    font-size: 34px
  +mobile
    width: 88px
    height: 52px
    font-size: 18px

.pagination-list
  display: flex
  font-size: 14px
  line-height: 1.5
  margin-top: 20px
  +mobile
    padding-bottom: 10px
  a
    padding: 5px 10px
    display: block
  .is-current
    padding: 5px 10px
    background: #2199e8
    color: #fff
    display: block
  .disabled
    pointer-events: none
    color: #cacaca

.button-default
  width: 139px
  height: 67px
  display: flex
  justify-content: center
  align-items: center
  background: url(../img/btn_05.png) no-repeat 0 0/100% auto
  font-size: 16px
  color: #FF5200
  border: none
  box-shadow: none
  appearance: none
  padding-bottom: 7px
  cursor: pointer
.button-request
  background: #0002EB
  display: flex
  justify-content: center
  align-items: center
  width: 130px
  height: 38px
  font-size: 11px
  color: #FFEA82
  border-radius: 20px
  appearance: none
  -webkit-appearance: none
  box-shadow: none
  cursor: pointer
button.button-request
  display: block

.button-sell
  background: #58D700
  color: #fff
  font-size: 13px
  border-radius: 15px
  width: 93px
  margin: 0 auto
  padding: 4px 10px
  display: block
  text-align: center
  appearance: none
  -webkit-appearance: none
  box-shadow: none

.title-primary
  text-align: center
  color: #FFEA82
+desktop
  .title-primary
    font-size: 40px
+mobile
  .title-primary
    font-size: 25px
+mobile-xs
  .title-primary
    font-size: 20px

.title-default
  font-size: 28px
  color: #fff
  padding: 23px 4px 33px

+mobile
  .title-default
    font-size: 16px
    padding: 15px 0 22px

.is-loaded
  &.page-top
    position: static
  .loading
    display: none
.page-top
  position: fixed
  width: 100%

.loading
  position: fixed
  left: 0
  width: 100%
  height: 100vh
  z-index: 99999
  background: #fff
.loader
  font-size: 20px
  width: 1em
  height: 1em
  border-radius: 50%
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  text-indent: -9999em
  -webkit-animation: load5 1.1s infinite ease
  animation: load5 1.1s infinite ease
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  +mobile
    font-size: 15px

@-webkit-keyframes load5
  0%,
  100%
    box-shadow: 0em -2.6em 0em 0em #030047, 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.5), -1.8em -1.8em 0 0em rgba(3,0,71, 0.7)
  12.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.7), 1.8em -1.8em 0 0em #030047, 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.5)
  25%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.5), 1.8em -1.8em 0 0em rgba(3,0,71, 0.7), 2.5em 0em 0 0em #030047, 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  37.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.5), 2.5em 0em 0 0em rgba(3,0,71, 0.7), 1.75em 1.75em 0 0em #030047, 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  50%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.5), 1.75em 1.75em 0 0em rgba(3,0,71, 0.7), 0em 2.5em 0 0em #030047, -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  62.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.5), 0em 2.5em 0 0em rgba(3,0,71, 0.7), -1.8em 1.8em 0 0em #030047, -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  75%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.5), -1.8em 1.8em 0 0em rgba(3,0,71, 0.7), -2.6em 0em 0 0em #030047, -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  87.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.5), -2.6em 0em 0 0em rgba(3,0,71, 0.7), -1.8em -1.8em 0 0em #030047

@keyframes load5
  0%,
  100%
    box-shadow: 0em -2.6em 0em 0em #030047, 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.5), -1.8em -1.8em 0 0em rgba(3,0,71, 0.7)
  12.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.7), 1.8em -1.8em 0 0em #030047, 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.5)
  25%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.5), 1.8em -1.8em 0 0em rgba(3,0,71, 0.7), 2.5em 0em 0 0em #030047, 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  37.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.5), 2.5em 0em 0 0em rgba(3,0,71, 0.7), 1.75em 1.75em 0 0em #030047, 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  50%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.5), 1.75em 1.75em 0 0em rgba(3,0,71, 0.7), 0em 2.5em 0 0em #030047, -1.8em 1.8em 0 0em rgba(3,0,71, 0.2), -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  62.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.5), 0em 2.5em 0 0em rgba(3,0,71, 0.7), -1.8em 1.8em 0 0em #030047, -2.6em 0em 0 0em rgba(3,0,71, 0.2), -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  75%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.5), -1.8em 1.8em 0 0em rgba(3,0,71, 0.7), -2.6em 0em 0 0em #030047, -1.8em -1.8em 0 0em rgba(3,0,71, 0.2)
  87.5%
    box-shadow: 0em -2.6em 0em 0em rgba(3,0,71, 0.2), 1.8em -1.8em 0 0em rgba(3,0,71, 0.2), 2.5em 0em 0 0em rgba(3,0,71, 0.2), 1.75em 1.75em 0 0em rgba(3,0,71, 0.2), 0em 2.5em 0 0em rgba(3,0,71, 0.2), -1.8em 1.8em 0 0em rgba(3,0,71, 0.5), -2.6em 0em 0 0em rgba(3,0,71, 0.7), -1.8em -1.8em 0 0em #030047

