extends ../_layouts/default

block vars
  -title        = 'Whalefishing'
  -description  = ''
  -keywords     = ''
  -pageID       = 'whalefishing'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li WHALE FISHING
      .box-common.box-whalefishing
        h2.title-primary.ft-paytone List fish can be fished 
        .list-box.js-slider
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Gulf
                  
              a.button-default.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")  Fishing start
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Sea
                  
              button.button-default.ft-paytone.trans(type="button") Level 5 Open
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Ocean
                  
              button.button-default.ft-paytone.trans(type="button") Level 7 Open
          
    a.button-history.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-fishing") 
      span History Fishing
  
  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-fishing")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close
  
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success.success-fish
          .btn-close.js-popup-close(href="javascript:;", data-lightbox="modal-success")
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          .success-text.ft-paytone Drop the sentence you will spend 2 bait per 1 drop.<br>Existing fishing energies: <span class="is-yellow">6</span>
          p.success-desc.is-yellow The number of sentences exceeded the available energy limit.
          .quantity-wrap
            a.button-minus.spin(href="#")
            .over
              input.quantity-text-number.ft-paytone(type="number" value="10" min="6")
            a.button-plus.spin(href="#")
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") FISHING