extends ../_layouts/default

block vars
  -title        = 'Member'
  -description  = ''
  -keywords     = ''
  -pageID       = 'menber'
  -path         = '..'

block container
  section.section-common
    .wrapper
      .common-heading
        h2.title-default.ft-paytone Member infomation
        .heading-right
          .copy-addon
            span.text-box.icon-link htpss://bancalon.com/ref=hoangle
            button.button-addon.ft-paytone.trans(type="button") COPY
      .box-common.box-member
        .column-left
          ul.list-link.ft-paytone
            li
              a.icon01.trans.is-active(href=path+"/member/") Hồ sơ
            li
              a.icon02.trans(href=path+"/network/") Network
        .column-right
          form.form-common
            .form-row
              .form-column
                .form-head User ID
                input.text-box(type="text" placeholder="hoangle")
              .form-column
                .form-head User Name
                input.text-box(type="text" placeholder="Nguyen Le Hoang")
            .form-row
              .form-column
                .form-head Country
                input.text-box(type="text" placeholder="Vietnam")
              .form-column
                .form-head Telephone
                input.text-box(type="text" placeholder="xxxxxxxxx")
            .form-row
              .form-column
                .form-head E-Mail
                input.text-box(type="text")
              .form-column
                .form-head Sponsor
                input.text-box(type="text" placeholder="xxxxxxxxx")
            .form-row01
              .form-head Suggested address
              .copy-addon
                span.text-box TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka
                button.button-addon.ft-paytone.trans(type="button") COPY
            .form-change
              h3.form-title.ft-paytone Change Password
              .form-row
                .form-column
                  .form-head Old Password
                  input.text-box(type="password")
              .form-row
                .form-column
                  .form-head New pass
                  input.text-box(type="password")
                .form-column
                  .form-head Password Check
                  input.text-box(type="password")
            button.button-history.is-history-small.ft-paytone.trans(type="submit") Update

      
    
  
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE

  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close