extends _layouts/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone Home
      .box-common.box-fish
        ul.list-fish
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE