extends ../_layouts/default

block vars
  -title        = 'Group'
  -description  = ''
  -keywords     = ''
  -pageID       = 'group'
  -path         = '..'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone My Fishing Group
      .box-common.box-fishing-group
        .box-bg
        .fishes
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
      ul.list-tab-button.ft-paytone.js-tabs
        li
          a(href="#your-fish") Your Fish
        li
          a(href="#your-booth") Your Booth
      .fish-tab#your-fish
        ul.list-card
          li.item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          li.item-card.is-set-sell
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          li.item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
      .fish-tab#your-booth
        .list-card
          .item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          .item-card.is-set-sell
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          .item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")  Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>

    a.button-history.is-history-small.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-history")
      span History

  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE

  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40

            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close