@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

img
  display: inline-block
  vertical-align: middle
  max-width: 100%
  height: auto

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  font: inherit
  line-height: 1

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto
  white-space: pre-line


/* PRINTING
 * -----------------------------------------------*/

@media print
  body
    -webkit-print-color-adjust: exact
  html,
  body
    margin: 0
  @page
    margin: 0
  @page :left
    margin: 0
  @page :right
    margin: 0
  @page :first
    margin-top: 0


/* GENERAL
 * -----------------------------------------------*/

body
  color: $base-font-color
  font-family: $base-font-sans
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none
  overflow-y: scroll


.ft-paytone
  font-family: 'Paytone One', sans-serif
.ft-neucha
  font-family: 'Neucha', sans-serif
.ft-iciel
  font-family: 'iCiel Crocante', sans-serif


/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.wrapper
  max-width: $base-wrapper
  margin-left: auto
  margin-right: auto

.body-background
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background: url(../img/bg_body.jpg) no-repeat center bottom/cover
.container
  min-height: 100vh
  position: relative
  z-index: 55
  overflow: hidden

/* RESPONSIVE
 * -----------------------------------------------*/

+desktop

  .sm
    display: none !important

  .trans
    +opacity(1)
    +transition(opacity .26s ease)
    &:hover
      +opacity(0.8)
  
  .wrapper
    padding-left: 20px
    padding-right: 20px

@media print, (min-width: 1025px)
  body
    position: static !important
    top: auto
    padding-right: 0 !important

+mobile

  .md
    display: none !important

  body
    font-size: 14px

  .container
    min-width: 320px

  .wrapper
    width: auto
    margin: 0
    padding-left: 10px
    padding-right: 10px
