extends ../_layouts/default

block vars
  -title        = 'Notice'
  -description  = ''
  -keywords     = ''
  -pageID       = 'notice'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li Notification
      ul.list-notice
        li
          .item-notice.is-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ - nếu nội dung nhiều thì sẽ tự xuống hàng. 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
    a.button-history.is-more.ft-paytone.trans(href="#") 
      span Load more
        