header
  .wrapper
    .header-inner
      .header-left
        h1.header-logo
          a.trans(href=path+"/")
            img(src=path+"/img/logo.png", width="310", height="46", alt="Logo Wefishing")
        .overlay-menu.js-overlay
        nav.navigation.js-navigation
          .button-close.js-button-close
          .header-group
            .header-column
              p.header-name Oswalkd Deced
              .header-link
                a(href=path+"/login/") Log out
                span.line /
                a(href=path+"/notice/") Setting
              p.header-text 12,856402 TRX
            .header-avatar
              a.trans(href=path+"/member/")
                img(src=path+"/img/icon_member.png", width="64", height="64", alt="Avatar")
          ul.navigation-menu.ft-paytone
            li
              a(href=path+"/")
                span.icon-home HOME PAGE
            li
              a(class=pageID=='shrimp'?'is-current':'' href=path+"/shrimp/") SHOP
            li
              a(class=pageID=='group'?'is-current':'' href=path+"/group/") MY fISH TANK
            li
              a(class=pageID=='whalefishing'?'is-current':'' href=path+"/whalefishing/") WHALE FISHING
      .header-right
        ul.list-system
          li
            a.icon-wallet.trans(href=path+"/wallets/")
          li
            a.icon-notify.trans(href=path+"/notice/")
              span
    .button-menu.js-button-open
      span
      span
.navigation-point
  .wrapper
    ul.list-point
      li
        a.trans.icon01(href="#") 465
      li
        a.trans.icon02(href="#") 465
      li
        a.trans.icon03(href="#") 465
      li
        a.trans.icon04(href="#") BAT: 975636.846461
      li
        a.trans.icon05(href="#") HAM: 975636.846461
      li
        a.trans.icon05(href="#") COMMISION: 111461
    .power-group
      p.power
        span.power-text Power:
        span 1 / 10
      p Recovery:  00 : 52 : 34
