extends ../_layouts/default

block vars
  -title        = 'Wallets'
  -description  = ''
  -keywords     = ''
  -pageID       = 'whalefishing'
  -path         = '..'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone My Wallet
      .box-common.box-wallet
        ul.list-tabs.ft-paytone.js-tabs
          li
            a(href="#deposit") Deposit
          li
            a(href="#withdraw") Withdraw
        .wallet-content.tab-content.tab-deposit#deposit
          .deposit-row
            h3.wallet-title.ft-paytone Choose Currency
            select.select
              option(value="TRON - TRC20 (TRX)") TRON - TRC20 (TRX)
              option(value="HAMBURGER (HAM)") HAMBURGER (HAM)
            p.coin-text
              | 1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC
          button.text-input.ft-paytone.trans(type="button") SWAP
          .coin-row
            .coin-input
              input.text-input(type="text" placeholder="Enter number")
              span.text GDC
            .coin-number
              | =<span class="is-yellow">397.9307600477517</span>TRX
          .coin-code
            .coin-copy
              span.text-input TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka
              span.copy-button
            .coin-photo
              img.image-common(src=path+"/img/icon_code.png", alt="Code")
        .wallet-content.tab-content.tab-withdraw#withdraw
          .deposit-row
            h3.wallet-title.ft-paytone Choose Currency
            select.select
              option(value="TRON - TRC20 (TRX)") TRON - TRC20 (TRX)
              option(value="HAMBURGER (HAM)") HAMBURGER (HAM)
            p.coin-text
              | 1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC
          .withdraw-quantity
            h3.wallet-title.ft-paytone Quantity withdraw
            p Minimum withdrawal amount : 100 Usdt, Fee: 5 usdt,Number of coins you receive: -5
          .coin-row.coin-withdraw
            .coin-input
              input.text-input(type="text" placeholder="Enter number")
              span.text GDC
            .withdraw-column
              input.text-input(type="text" placeholder="Enter address")
          button.button-request.ft-paytone.trans(type="button") Request Withdraw
        ul.list-number
          li The GDC is charged according to the market price at the time when the transfer of each cryptocurrency is completed..
          li Please deposit the money to the correct address. You can't find it back if the address is wrong.
          li Please use the currency calculator for reference based on the current market price..
          li There may be a difference in market prices at the time of transmission..
    a.button-history.ft-paytone.trans(href="#") 
      span Charge History
        