extends ../_layouts/default_login

block vars
  -title        = 'Register'
  -description  = ''
  -keywords     = ''
  -pageID       = 'register'
  -path         = '..'

block container
  section.section-login
    .box-common
      img.photo(src=path+"/img/img_avatar.png", alt="avatar")
      h1.title.ft-paytone Resigter member
      form
        ul.list-login
          li
            input.text-input-control(type="text" placeholder="User ID")
          li
            input.text-input-control(type="email" placeholder="Email")
          li
            input.text-input-control(type="text" placeholder="Full name")
          li
            input.text-input-control(type="password" placeholder="Password")
          li
            input.text-input-control(type="password" placeholder="Confirm Password")
        button.button-submit.ft-paytone.trans(type="submit") Register
