extends ../_layouts/default_login

block vars
  -title        = 'Forgot'
  -description  = ''
  -keywords     = ''
  -pageID       = 'forgot'
  -path         = '..'

block container
  section.section-login
    .box-common
      img.photo(src=path+"/img/img_avatar.png", alt="avatar")
      h1.title.ft-paytone Reset Password
      form
        ul.list-login
          li
            input.text-input-control(type="email" placeholder="Enter email")
        .login-text New password will be sent to your email, please check your mail.
        button.button-submit.ft-paytone.trans(type="submit") Request
      