extends ../_layouts/default_login

block vars
  -title        = 'Login'
  -description  = ''
  -keywords     = ''
  -pageID       = 'login'
  -path         = '..'

block container
  section.section-login
    .box-common
      img.photo(src=path+"/img/img_avatar.png", alt="avatar")
      h1.title.ft-paytone Sign up
      form
        ul.list-login
          li
            input.text-input-control(type="text" placeholder="User ID")
          li
            input.text-input-control(type="password" placeholder="Password")
        button.button-submit.ft-paytone.trans(type="submit") Login
      .login-text
        a.trans(href=path+"/register/") Join Membership 
        span.line /
        a.trans(href=path+"/forgot/") Forgot your password
